/**
 * @name OldMessages
 * @author PseudoResonance
 * @version 1.3.2
 * @description Restores old messages style
 * @source https://github.com/PseudoResonance/BetterDiscord-Theme/blob/master/OldMessages.theme.css
 */

:root, .theme-dark, .theme-light {
	--message-spacing:1.0625rem;
	--header-height:1.375rem;
	--new-message-color:#f04747;
	--background-mentioned-hover:transparent;
	--background-message-hover:transparent;
	--oldMessagesVersion:"1.3.2";
}

/* Restore Reactions */
[class*="reaction-"] {
	background:var(--background-modifier-accent);
	border-radius:.25rem;
	border:none;
	margin:0 .125rem .125rem 0;
	padding:0;
	-webkit-transition:background-color .1s ease;
	transition:background-color .1s ease;
}

[class*="reaction-"]:hover, [class*="reaction-"]:active {
	background-color:rgba(252, 245, 255, 0.05);
}

[class*="reaction-"][class*="reactionMe-"] {
	background-color:rgba(114,137,218,.3);
}

[class*="reaction-"] [class*="reactionInner-"] {
	padding:0 .375rem;
}

[class*="reaction-"] [class*="reactionCount-"]:not(#foo) {
	color:var(--text-muted);
}

[class*="reaction-"]:hover [class*="reactionCount-"]:not(#foo) {
	color:var(--interactive-hover);
}

[class*="reaction-"][class*="reactionMe-"] [class*="reactionCount-"]:not(#foo), [class*="reaction-"][class*="reactionMe-"]:hover [class*="reactionCount-"]:not(#foo) {
	color:#7289da;
}

/* Disable Message Hover */
[class*="messagesWrapper-"] [class*="message-"]:not([class*="mentioned-"]):hover, [class*="messagesWrapper-"] [class*="message-"]:not([class*="mentioned-"]):active, [class*="messagesWrapper-"] [class*="message-"][class*="selected-"]:not([class*="mentioned-"]) {
	background-color:transparent !important;
}

[class*="messagesWrapper-"] [class*="message-"][class*="mentioned-"], [class*="messagesWrapper-"] [class*="message-"][class*="mentioned-"]:hover, [class*="messagesWrapper-"] [class*="message-"][class*="mentioned-"]:active, [class*="messagesWrapper-"] [class*="message-"][class*="selected-"][class*="mentioned-"] {
	background-color:transparent !important;
	//background-color:var(--background-mentioned) !important; /* Replace transparent background with background-mentioned if you want to keep the new mention highlighting */
}

/* Hide Yellow Bar to Left of New Mention Highlighting */
[class*="messagesWrapper-"] [class*="message-"][class*="mentioned-"]::before {
	background-color:transparent !important;
}

/* Mentions - Comment these two sections out if you want to keep the new mention highlighting */
[class*="messagesWrapper-"] [class*="message-"][class*="mentioned-"] > [class*="contents-"] > [class*="messageContent-"] {
	background-color:var(--background-mentioned) !important;
	margin-left:-8px;
	padding-left:4px;
	height:auto;
	border-left:4px solid #faa61a;
	border-radius:3px;
}

[class*="messagesWrapper-"] [class*="message-"][class*="mentioned-"] > [class*="contents-"] > [class*="messageContent-"]::before {
	content:"";
	display:block;
	position:absolute;
	left:61px;
	height:inherit;
    pointer-events:none;
    width:2px;
}

/* Disable Mention Background */
[class*="mention"] {
	border-radius:0;
	transition:background-color 50ms ease-out,color 50ms ease-out;
	-webkit-transition:background-color 50ms ease-out,color 50ms ease-out;
}

[class*="mention"][class*="interactive"], [class*="mention"][class*="roleMention"] {
	background-color:rgba(114,137,218,.1);
	color:#7289da;
}

[class*="mention"][class*="interactive"]:hover, [class*="mention"][class*="roleMention"]:hover {
	background-color:rgba(114,137,218,.7);
	color:#fff;
}

[class*="messagesWrapper-"] [class*="message-"][class*="mentioned-"] [class*="mention"][class*="interactive"]:hover {
	color:#7289da;
}

/* Remove Spacer Between Messages and Text Input */
[class*="messagesWrapper-"] [class*="scrollerSpacer-"] {
	height:25px;
}

[class*="messagesWrapper-"] ~ form [class*="channelTextArea-"] {
	padding-top:20px;
	margin-top:0px;
}

[class*="messagesWrapper-"] ~ form [class*="channelTextArea-"] {
	border-top:thin solid var(--background-modifier-accent);
	border-radius:0;
}

/* Resize/Move Message Buttons */
[class*="messagesWrapper-"] [class*="buttonContainer-"] [class*="buttons-"] [class*="button-"] {
	height:16px;
	width:16px;
	min-height:16px;
	min-width:16px;
	color:rgba(185, 187, 190, 0.6);
}

[class*="messagesWrapper-"] [class*="buttonContainer-"] [class*="buttons-"] [class*="button-"]:hover, [class*="messagesWrapper-"] [class*="buttonContainer-"] [class*="buttons-"] [class*="button-"]:active, [class*="messagesWrapper-"] [class*="buttonContainer-"] [class*="buttons-"] [class*="button-"][class*="selected-"] {
	color:rgba(155, 157, 160, 0.6) !important;
	background-color:transparent !important;
}

[class*="messagesWrapper-"] [class*="buttonContainer-"] [class*="buttons-"] {
	top:-4px;
	padding-right:0.875rem;
}

[class*="messagesWrapper-"] [class*="groupStart-"]:not([class*="compact-"]) [class*="buttonContainer-"] {
	top:var(--header-height);
}

[class*="messagesWrapper-"] [class*="buttonContainer-"] [class*="buttons-"] [class*="button-"] {
	padding:0px;
}

[class*="messagesWrapper-"] [class*="buttonContainer-"] [class*="buttons-"] div {
	box-shadow:none !important;
	border:0px !important;
}

/* Disable Background on Message Buttons */
[class*="messagesWrapper-"] [class*="buttonContainer-"] [class*="buttons-"] [class*="wrapper-"] {
	background-color:transparent !important;
}

/* Rotate Settings Button */
[class*="messagesWrapper-"] [class*="buttonContainer-"] [class*="buttons-"] [class*="button-"]:last-child:not([class*="dangerous-"]) {
	transform:rotate(90deg);
	padding-right:0px;
	padding-left:0px;
	margin-right:0px;
	margin-left:0px;
}

/* Margin on Text to Accomodate Buttons */
[class*="messagesWrapper-"] [class*="message-"] [class*="markup-"]:not([contenteditable="true"])::before {
	content:'';
	width:6.75rem;
	height:16px;
	display:inline-flex;
	float:right;
}

/* Make Text Area Wider */
[class*="messagesWrapper-"] [class*="message-"] {
	padding-right:0.875rem !important;
}

/* Spacer Between Message Groups */
[class*="messagesWrapper-"] [class*="groupStart-"]::after {
	content:'';
	border-top:thin solid var(--background-modifier-accent);
	top:calc(0px - var(--message-spacing));
	left:1rem;
	right:0.875rem;
	display:block;
	position:absolute;
}

[class*="messagesWrapper-"] [class*="groupStart-"]:not([class*="compact-"]) {
	margin-top:calc(var(--message-spacing) * 2);
}

[class*="messagesWrapper-"] [class*="divider-"] + [class*="groupStart-"]::after {
	display:none;
}

[class*="messagesWrapper-"] [class*="divider-"] + [class*="groupStart-"]:not([class*="compact-"]) {
	margin-top:calc(var(--message-spacing) * 0.5);
}

[class*="messagesWrapper-"] [class*="divider-"] + [class*="groupStart-"][class*="compact-"] {
	margin-top:0;
}

/* Spacing Between Messages Within a Group */
[class*="messagesWrapper-"] [class*="message-"] {
	padding-top:0px;
	padding-bottom:0px;
}

/* Message Divider */
[class*="messagesWrapper-"] [class*="divider-"] {
	width:100%;
	margin-left:0;
	border:none;
	height:calc(var(--message-spacing) * 1.5) !important;
}

[class*="messagesWrapper-"] [class*="divider-"] span {
	background-color:transparent;
	padding:0;
    display:flex;
	align-items:center;
	text-align:center;
	font-size:14px;
	line-height:22px;
	height:calc(var(--message-spacing) * 2) !important;
	left:1rem;
	right:0.875rem;
	position:absolute;
}

[class*="messagesWrapper-"] [class*="divider-"] span::before {
	margin-right:8px;
}

[class*="messagesWrapper-"] [class*="divider-"] span::after {
	margin-left:8px;
}

[class*="messagesWrapper-"] [class*="divider-"] span::before, [class*="messagesWrapper-"] [class*="divider-"] span::after {
	content:'';
	flex:1;
}

[class*="messagesWrapper-"] [class*="divider-"][class*="isUnread-"] span:nth-child(2) {
	display:none;
}

/* Spacing Correction */
.group-spacing-0 [class*="divider-"][class*="hasContent-"] {
	margin-top:4px;
	margin-bottom:4px;
}

.group-spacing-4 [class*="divider-"][class*="hasContent-"] {
	margin-top:8px;
	margin-bottom:8px;
}

.group-spacing-8 [class*="divider-"][class*="hasContent-"] {
	margin-top:12px;
	margin-bottom:12px;
}

.group-spacing-16 [class*="divider-"][class*="hasContent-"] {
	margin-top:20px;
	margin-bottom:20px;
}

.group-spacing-24 [class*="divider-"][class*="hasContent-"] {
	margin-top:28px;
	margin-bottom:28px;
}

/* New Message Color */
[class*="messagesWrapper-"] [class*="divider-"][class*="isUnread-"] span {
	color:var(--new-message-color);
}

[class*="messagesWrapper-"] [class*="divider-"][class*="isUnread-"] span::before, [class*="messagesWrapper-"] [class*="divider-"][class*="isUnread-"] span::after {
	border-bottom:thin solid var(--new-message-color);
}

[class*="messagesWrapper-"] [class*="divider-"][class*="isUnread-"] span svg {
	display:none;
}

/* Timestamp Divider Color */
[class*="messagesWrapper-"] [class*="divider-"]:not([class*="isUnread-"]) span::before, [class*="messagesWrapper-"] [class*="divider-"]:not([class*="isUnread-"]) span::after {
	border-bottom:thin solid var(--background-modifier-accent);
}

/* Display version info */
[class*="sidebar-"] [role="tabbar"] [class*="info-"]::after {
	content:"Old Messages Version: v" var(--oldMessagesVersion);
	color:var(--text-muted);
	font-size:12px;
	line-height:16px;
}

.bd-addon-list [id*="OldMessagesLoader"] .bd-addon-header .bd-title .bd-meta::after {
	content:"Theme Version: v" var(--oldMessagesVersion);
	padding-left:1em;
}
