//META{"name":"XposeRAW","description":"Custom theme","author":"PseudoResonance","version":"2.6.10"}*//

:root {
	--background-screen-cover: 0, 0, 0; /* Color of screen over background */
	--background-screen-opacity: 0.45; /* Value from 0-1 - 0 being least opaque, 1 being most opaque */
	--background-url: url("https://i.imgur.com/avzaqfC.jpg"); /* URL for background */
}

body {
	--version: "Xpose v2.6.10";
	--message-spacing:1.0625rem;
	--header-height:1.375rem;
}

.theme-dark {
	--channels-default: #ccc;
	--interactive-muted: #aaa;
	--text-muted: #999;
	--elevation-low: 0;
	--elevation-high: 0;
	--blur-radius: 10px;
}

/* Table */
.pseudotable {
	width:100%;
}

.pseudotable, .pseudotable-header, .pseudotable-row, .pseudotable-header-obj, .pseudotable-row-obj {
	border: thin solid var(--background-modifier-accent);
	border-collapse: collapse;
}

.pseudotable-header-obj {
	padding:10px;
}

.pseudotable-hint {
	display:block;
	margin-top:5px;
	color:var(--text-muted);
}

.pseudotable-input {
	background-color:transparent;
	padding:10px;
	border:none;
	width:100%;
	color:#f6f6f7;
	font-size:100%;
}

.pseudotable-image {
	width:calc(100% - 13rem);
}

.pseudotable-opacity {
	width:6rem;
}

.pseudotable-color {
	width:7rem;
}

.pseudoslideshow-invalid {
	background-color:rgba(240, 71, 71, 0.3);
}

/* Scrollbar */
.scroller-wrap .scroller::-webkit-scrollbar {
	width: 10px;
}

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .theme-dark .da-messagesWrapper .scroller-wrap ::-webkit-scrollbar-thumb {
	background-color: rgba(53, 57, 62, 0.46);
	border-color: rgba(120, 62, 89, 0);
}

.da-messagesWrapper .da-scrollerWrap .da-scroller::-webkit-scrollbar, .scroller-2FKFPG.messages-3amgkR::-webkit-scrollbar, .scroller-2FKFPG::-webkit-scrollbar {
	width:8px;
}

.da-messagesWrapper .da-scrollerWrap .da-scroller::-webkit-scrollbar-track-piece, .scroller-2FKFPG.messages-3amgkR::-webkit-scrollbar-track-piece, .scroller-2FKFPG::-webkit-scrollbar-track-piece {
	background: transparent !important;
	border: none !important;
}

.da-messagesWrapper .da-scrollerWrap .da-scroller::-webkit-scrollbar-track, .scroller-2FKFPG.messages-3amgkR::-webkit-scrollbar-track, .scroller-2FKFPG::-webkit-scrollbar-track {
	background: transparent !important;
	border: none !important;
}

.da-messagesWrapper .da-scrollerWrap .da-scroller::-webkit-scrollbar-thumb, .scroller-2FKFPG.messages-3amgkR::-webkit-scrollbar-thumb, .scroller-2FKFPG::-webkit-scrollbar-thumb {
	background: rgba(255,255,255,0)!important;
	border: none !important;
	border-radius:0!important;
}

.da-messagesWrapper .da-scrollerWrap .da-scroller:hover::-webkit-scrollbar-thumb, .scroller-2FKFPG.messages-3amgkR:hover::-webkit-scrollbar-thumb, .scroller-2FKFPG:hover::-webkit-scrollbar-thumb {
	background: rgba(255,255,255,.15)!important;
	border-radius:0!important;
}

.da-messagesWrapper .da-scrollerWrap .da-scroller::-webkit-scrollbar-thumb, .scroller-2FKFPG.messages-3amgkR::-webkit-scrollbar-thumb {
	width:4px;
	border:none;
	border-radius:0;
	background:rgba(255,255,255,.08);
	border-left:6px solid var(--lvl3)!important;
	display:var(--settings-scrollbar);
}

.da-messagesWrapper .da-scrollerWrap .da-scroller::-webkit-scrollbar-thumb:active, .scroller-2FKFPG.messages-3amgkR::-webkit-scrollbar-thumb:active {
	background:rgba(255,255,255,.12);
}

/* Element Resizing */
.channelTextArea-rNsIhG {
	margin-bottom: 10px;
	padding-top:10px;
	margin-top:0px;
}

.da-content .da-flex .da-form .da-typing.da-base {
	bottom: 1px !important;
	height: 20px !important;
}

/* Shrink guilds inside expanded folder */
.expandedGuilds-1JMD4M > .listItem-2P_4kh > div > div > svg, .expandedGuilds-1JMD4M > .listItem-2P_4kh > div > div {
	width: 38px;
	height: 38px;
}

.expandedGuilds-1JMD4M {
	height: auto !important;
}

.expandedFolderBackground-2sPsd-:not(.da-collapsed) + div:nth-child(2) .wrapper-25eVIn svg foreignObject div {
	background: transparent !important;
}

/* Transparent background for main content */
.da-appMount, .da-app, .da-bg, .da-guilds, .da-base .da-content .da-sidebar .da-container, .da-layer .da-container .da-wrapper, .da-base .da-content .da-sidebar .da-panels, .da-base .da-content .da-chat, .da-base .da-content .da-chat .da-container, .da-base .da-content .da-chat .da-content, .da-base .da-content .da-chat .da-content .da-membersWrap .da-scrollerWrap .da-scroller, .da-channelTextArea, .da-channelTextArea .scrollableContainer-2NUZem, .da-searchBar, .da-scroller, .da-sidebar, .da-expandedFolderBackground .da-collapsed {
	background: transparent;
}

.da-embedWrapper {
	background: rgba(47, 49, 54, 0.4) !important;
}

.da-markup > pre > code {
	border: 1px solid rgba(20, 20, 20, 0.8) !important;
	background: rgba(0, 0, 0, 0.65) !important;
}

.da-expandedFolderBackground {
	background: rgba(47, 49, 54, 0.7);
}

.da-folder {
	background: rgba(47, 49, 54, 0.5) !important;
}

/* Hiding right part of channel description*/
.da-themed .da-children::after {
	display:none;
}

/* Hiding top part of message box*/
.form-2fGMdU::before {
	display:none;
}

/* Matching border color */
.da-attachWrapper {
	border-right: 1px solid rgba(255, 255, 255, 0.06);
}

/* Transparent background for friends page */
.da-base .da-content .da-sidebar .da-privateChannels, .da-base .da-content .da-container, .da-base .da-content .da-container .da-container, .da-base .da-content .da-container .da-tabBody, .da-peopleColumn, .da-nowPlayingColumn, .da-emptyCard {
	background: transparent !important;
}

.da-videoHeight, .da-videoHeight .da-flex {
	background: transparent !important;
}

.da-searchBar .da-searchBarComponent {
	background: transparent !important;
}

.itemCard-v9viV7:hover, .itemCard-v9viV7:active {
	background: var(--background-modifier-hover) !important;
}

.section-2gLsgF, .body-1ld4H7 {
	background: transparent !important;
}

/* Transparent background for Nitro page */
.da-applicationStore {
	background: transparent !important;
}

/* Transparent background for library page */
.da-gameLibrary, .da-gameUpdates, .da-gameLibrary .da-scrollerWrap .da-scroller .da-table .da-header {
	background: transparent !important;
}

/* Transparent background for activity page */
.da-activityFeed, .da-activityFeed .da-scrollerWrap .da-scroller {
	background: transparent !important;
}

/* Transparent background for settings page */
#user-settings, #user-settings > div > .da-standardSidebarView, #user-settings > div > .da-standardSidebarView .da-sidebarRegion, #user-settings > div > .da-standardSidebarView .da-contentRegion {
	background: transparent !important;
}

.da-app .da-layers .da-layer, .da-app .da-layers .da-layer > div .da-standardSidebarView, .da-app .da-layers .da-layer > div .da-standardSidebarView .da-sidebarRegion, .da-app .da-layers .da-layer > div .da-standardSidebarView .da-contentRegion {
	background: transparent !important;
}

/* Transparent background for BetterDiscord settings page */
#bd-settingspane-container, .content-region-scroller {
	background: transparent !important;
}

/* Transparent background for popouts */
.layerContainer-yqaFcK, .layer-v9HyYc, .bodyInner-245q0L, .layer-v9HyYc > div:not(.contextMenu-HLZMGh) > div:not(.userPopout-3XzG_A) > div {
	background: transparent !important;
}

.popout-38lTFE, .contextMenu-HLZMGh, .layer-v9HyYc > div:not(.contextMenu-HLZMGh) > div:not(.userPopout-3XzG_A), .menu-Sp6bN1, .footer-1fjuF6, .body-3iLsc4 {
	background: rgba(45, 45, 45, 0.9) !important;
}

.headerNormal-T_seeN {
	background: rgba(32, 34, 37, 0.95) !important;
}

.headerPlaying-j0WQBV {
	background: rgba(114, 137, 218, 0.8) !important;
}

.headerSpotify-zpWxgT {
	background: rgba(29, 185, 84, 0.8) !important;
}

.headerXbox-3G-4PF {
	background: rgba(16, 124, 16, 0.8) !important;
}

/* Blur popups */
.popout-38lTFE, .contextMenu-HLZMGh, .layer-v9HyYc > div:not(.contextMenu-HLZMGh) > div:not(.scrollerWrap-2lJEkd), .layer-v9HyYc > div:not(.contextMenu-HLZMGh) > div:not(.userPopout-3XzG_A) > div, .menu-Sp6bN1 {
	backdrop-filter: blur(var(--blur-radius));
	box-shadow:none;
}

/* Transparent buttons */
.actionButton-uPB8Fs {
	background: rgba(47, 49, 54, 0.7) !important;
	backdrop-filter: blur(var(--blur-radius));
}

/* Audio control background */
.da-audioControls {
	background: rgba(0, 0, 0, 0.4) !important;
	backdrop-filter: blur(var(--blur-radius));
}

/* Remove borders */
.da-friendsTableHeader, .da-friendsColumn {
	border: 0 !important;
}

.da-videoBottom .da-iconsWrapper {
	border: 0 !important;
}

/* Remove Nitro present icon */
.da-chat .da-content .da-chatContent .da-form .da-channelTextArea .scrollableContainer-2NUZem .da-inner .da-buttons > button:first-child {
	display:none;
}

/* Disable message hover */
.messages-3amgkR .message-2qnXI6:not(.da-mentioned):hover, .messages-3amgkR .message-2qnXI6:not(.da-mentioned):active, .messages-3amgkR .message-2qnXI6.selected-2P5D_Z:not(.da-mentioned) {
	background-color:transparent !important;
}

.messages-3amgkR .message-2qnXI6.da-mentioned, .messages-3amgkR .message-2qnXI6.da-mentioned:hover, .messages-3amgkR .message-2qnXI6.da-mentioned:active, .messages-3amgkR .message-2qnXI6.selected-2P5D_Z.da-mentioned {
	background-color:transparent !important;
}

/* Remove emoji suggestions */
.emojiButton-jE9tXC, .emojiSeparator-10VgEJ {
	display:none;
}

.buttonContainer-DHceWr .buttons-cl5qTG div {
	box-shadow:none !important;
	border:0px !important;
}

/* Spacing between message bar and messages */
.messages-3amgkR::after {
	height:20px;
}

/* Resize/move message buttons */
.buttonContainer-DHceWr .buttons-cl5qTG div .button-1ZiXG9 {
	height:16px;
	width:16px;
	min-height:16px;
	min-width:16px;
	color:rgba(185, 187, 190, 0.6);
}

.buttonContainer-DHceWr .buttons-cl5qTG div .button-1ZiXG9:hover, .buttonContainer-DHceWr .buttons-cl5qTG div .button-1ZiXG9:active, .buttonContainer-DHceWr .buttons-cl5qTG div .button-1ZiXG9.selected-2P5D_Z {
	color:rgba(155, 157, 160, 0.6) !important;
	background-color:transparent !important;
}

.buttonContainer-DHceWr .buttons-cl5qTG {
	top:-5px;
	background-color:transparent !important;
	padding-right:0px;
}

.messages-3amgkR .message-2qnXI6.mentioned-xhSam7 .buttonContainer-DHceWr .buttons-cl5qTG div, .buttonContainer-DHceWr, .buttonContainer-DHceWr .buttons-cl5qTG div {
	background-color:transparent !important;
}

.messages-3amgkR .groupStart-23k01U .buttonContainer-DHceWr {
	top:var(--header-height);
}

.buttonContainer-DHceWr .buttons-cl5qTG div .button-1ZiXG9 {
	padding:0px;
}

/* Move avatar */
.messages-3amgkR .message-2qnXI6 .container-2LR0t2 .header-23xsNx img {
	margin-left:0.875rem;
}

/* Margin on text to accomodate buttons */
.messages-3amgkR .message-2qnXI6 .markup-2BOw-j {
	margin-right:22px;
}

/* Rotate settings button */
.buttonContainer-DHceWr .buttons-cl5qTG div .button-1ZiXG9:last-child {
	transform:rotate(90deg);
	padding-right:0px;
	padding-left:0px;
	margin-right:0px;
	margin-left:0px;
}

/* Spacer between message groups */
.messages-3amgkR .groupStart-23k01U::after {
	content:'';
	border-top:thin solid var(--background-modifier-accent);
	top:calc(0px - var(--message-spacing));
	left:1rem;
	right:0.875rem;
	display:block;
	position:absolute;
}

.messages-3amgkR .groupStart-23k01U {
	margin-top:calc(var(--message-spacing) * 2);
}

.messages-3amgkR .divider-3_HH5L + .groupStart-23k01U::after {
	display:none;
}

.messages-3amgkR .divider-3_HH5L:not(.isUnread-3Ef-o9) + .groupStart-23k01U {
	margin-top:calc(var(--message-spacing) * 0.5);
}

.messages-3amgkR .divider-3_HH5L.isUnread-3Ef-o9 + .groupStart-23k01U {
	margin-top:var(--message-spacing);
}

/* Spacing between messages within a group */
.messages-3amgkR .message-2qnXI6:not(.groupStart-23k01U), .messages-3amgkR .message-2qnXI6 .container-2LR0t2 {
	padding-top:0px;
	padding-bottom:0px;
}

/* Message divider */
.messages-3amgkR .divider-3_HH5L {
	width:100%;
	margin-left:0;
	border:none;
	height:calc(var(--message-spacing) * 1.5);
}

.messages-3amgkR .divider-3_HH5L span {
	background-color:transparent;
	padding:0;
    display:flex;
	align-items:center;
	text-align:center;
	font-size:14px;
	line-height:22px;
	height:calc(var(--message-spacing) * 2);
	left:1rem;
	right:0.875rem;
	position:absolute;
}

.messages-3amgkR .divider-3_HH5L span::before {
	margin-right:8px;
}

.messages-3amgkR .divider-3_HH5L span::after {
	margin-left:8px;
}

.messages-3amgkR .divider-3_HH5L span::before, .messages-3amgkR .divider-3_HH5L span::after {
	content:'';
	flex:1;
}

/* New message color */
.messages-3amgkR .divider-3_HH5L.isUnread-3Ef-o9 span {
	color:#f04747;
}

.messages-3amgkR .divider-3_HH5L.isUnread-3Ef-o9 span::before, .messages-3amgkR .divider-3_HH5L.isUnread-3Ef-o9 span::after {
	border-bottom:thin solid #f04747;
}

.messages-3amgkR .divider-3_HH5L.isUnread-3Ef-o9 span svg {
	display:none;
}

/* Timestamp divider color */
.messages-3amgkR .divider-3_HH5L:not(.isUnread-3Ef-o9) span::before, .messages-3amgkR .divider-3_HH5L:not(.isUnread-3Ef-o9) span::after {
	border-bottom:thin solid var(--text-muted);
}

/* Text Colors */
.da-input::placeholder, .da-textArea::placeholder, .da-placeholder {
	color: #999;
}

/* Upload */
.uploadModal-2ifh8j {
	position: fixed !important;
	top: 0px !important;
	left: 0px !important;
	background: transparent !important;
}

.uploadModal-2ifh8j div {
	border: 0 !important;
}

.uploadModal-2ifh8j div .da-file .da-icon {
	border: 0 !important;
	box-shadow: none !important;
	margin: 0 !important;
	background-position: 50% !important;
	position: fixed !important;
    height: 75vh !important;
    width: 80vw !important;
	left: 10vw !important;
	top: 40px !important;
	background-size: contain !important;
	background-color: transparent !important;
}

.uploadModal-2ifh8j div .da-file .da-description {
	position: fixed !important;
	left: 0 !important;
	top: 10px !important;
	width: 100vw !important;
	padding: 0 !important;
	text-align: center !important;
}

.uploadModal-2ifh8j div .da-comment {
	position: fixed !important;
	width: 80vw !important;
	left: 10vw !important;
	height: calc(100vh - 50px) !important;
	top: 0vh !important;
	margin: 0 !important;
	padding: 0 !important;
}

.uploadModal-2ifh8j div .da-comment .da-label {
	display:none;
}

.uploadModal-2ifh8j div .da-comment .da-flex {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

.uploadModal-2ifh8j div .da-comment .da-channelTextArea {
	position: absolute;
	bottom: -15px;
}

.uploadModal-2ifh8j div .da-comment .da-channelTextArea .scrollableContainer-2NUZem .da-inner .da-textArea .da-slateTextArea::placeholder {
	color: #888;
}

.uploadModal-2ifh8j div .da-comment .da-channelTextArea .scrollableContainer-2NUZem .da-inner .da-textArea .da-slateTextArea {
	color: #fff;
}

.uploadModal-2ifh8j .da-footer {
	position: fixed !important;
	background: transparent !important;
	width: 80vw !important;
	left: 10vw !important;
	height: calc(100vh - 10px) !important;
	top: 0vh !important;
	margin: 0 !important;
	padding: 0 !important;
	margin-bottom: 5px !important;
	align-items: flex-end !important;
	z-index: -1;
}

/* Background image */
.da-appMount::before {
	content: "";
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position:absolute;
	background-image: linear-gradient(to right,rgba(var(--background-screen-cover), var(--background-screen-opacity)) 0%,rgba(var(--background-screen-cover), var(--background-screen-opacity)) 100%),var(--background-url); /* Please use this to change background image */
	background-size: cover;
	z-index: -5;
}

/* Display version info */
.sidebar-CFHs9e .side-8zPYf6 .info-1VyQPT::after {
	content: "Theme: " var(--version);
	color: var(--text-muted);
	font-size: 12px;
	line-height: 16px;
}
