/**
 * @name XposeRAW
 * @author PseudoResonance
 * @version 3.0.18
 * @description Custom theme.
 * @source https://github.com/PseudoResonance/BetterDiscord-Theme/blob/master/XposeRAW.theme.css
 */

:root, .theme-dark, .theme-light {
	--background-screen-cover:0, 0, 0; /* Color of screen over background */
	--background-screen-opacity:0.45; /* Value from 0-1 - 0 being least opaque, 1 being most opaque */
	--background-url:url("https://i.imgur.com/avzaqfC.jpg"); /* URL for background */
	--message-spacing:1.0625rem;
	--header-height:1.375rem;
}

/*
 * Variables
 */

:root, .theme-dark, .theme-light {
	--xposeVersion:"3.0.18";
	--blur-radius:10px;
}

/*
 * Theme Colors
 */

.theme-dark {
	--header-primary:#fff;
	--header-secondary:#b9bbbe;
	--text-normal:#dcddde;
	--text-muted:#72767d;
	--text-link:#00b0f4;
	--channels-default:#c9cccf;
	--interactive-normal:#d5d6d8;
	--interactive-hover:#dcddde;
	--interactive-active:#fff;
	--interactive-muted:#838a95;
	--background-primary:transparent;
	--background-secondary:transparent;
	--background-secondary-alt:transparent;
	--background-tertiary:transparent;
	--background-accent:rgba(79, 84, 92, 0.32);
	--background-floating:rgba(24, 25, 28, 0.4);
	--background-mobile-primary:#36393f;
	--background-mobile-secondary:#2f3136;
	--background-modifier-hover:rgba(79, 84, 92, 0.16);
	--background-modifier-active:rgba(79, 84, 92, 0.24);
	--background-modifier-selected:rgba(79, 84, 92, 0.32);
	--background-modifier-accent:hsla(0, 0%, 100%, 0.06);
	--background-mentioned:transparent;
	--background-mentioned-hover:transparent;
	--background-message-hover:transparent;
	--background-help-warning:rgba(250, 166, 26, 0.1);
	--background-help-info:rgba(0, 176, 244, 0.1);
	--scrollbar-thin-thumb:transparent;
	--scrollbar-thin-track:transparent;
	--scrollbar-auto-thumb:transparent;
	--scrollbar-auto-track:transparent;
	--scrollbar-auto-scrollbar-color-thumb:transparent;
	--scrollbar-auto-scrollbar-color-track:transparent;
	--elevation-stroke:0 0 0 1px rgba(4, 4, 5, 0.15);
	--elevation-low:transparent;
	--elevation-medium:transparent;
	--elevation-high:transparent;
	--logo-primary:#fff;
	--focus-primary:#00b0f4;
	--radio-group-dot-foreground:#8ea1e1;
	--guild-header-text-shadow:0 1px 1px rgba(0, 0, 0, 0.4);
	--channeltextarea-background:transparent;
	--activity-card-background:var(--background-attachment);
	--textbox-markdown-syntax:#8e9297;
	--deprecated-card-bg:rgba(32, 34, 37, 0.6);
	--deprecated-card-editable-bg:rgba(32, 34, 37, 0.3);
	--deprecated-store-bg:#36393f;
	--deprecated-quickswitcher-input-background:#72767d;
	--deprecated-quickswitcher-input-placeholder:hsla(0, 0%, 100%, 0.3);
	--deprecated-text-input-bg:rgba(0, 0, 0, 0.1);
	--deprecated-text-input-border:rgba(0, 0, 0, 0.3);
	--deprecated-text-input-border-hover:#040405;
	--deprecated-text-input-border-disabled:#202225;
	--deprecated-text-input-prefix:#dcddde;
	/* Custom Variables */
	--background-attachment:rgba(47, 49, 54, 0.2);
	--code-block-border:rgba(20, 20, 20, 0.8);
	--attachment-border:rgba(20, 20, 20, 0.2);
	--background-code-block:rgba(0, 0, 0, 0.3);
	--background-code-inline:rgba(0, 0, 0, 0.5);
	--background-scrollbar-preview:rgba(255,255,255,0.15);
	--background-scrollbar-hover:rgba(255,255,255,0.2);
	--background-scrollbar-active:rgba(255,255,255,0.25);
	--new-message-color:#f04747;
	--background-modifier-hover-brand:rgba(92, 111, 177, 0.16);
	--background-modifier-hover-danger:rgba(240, 71, 71, 0.16);
	--background-modifier-active-brand:rgba(92, 111, 177, 0.24);
	--background-modifier-active-danger:rgba(240, 71, 71, 0.24);
	--background-floating-hover:rgba(24, 25, 28, 0.5);
	--background-notice:rgba(78, 93, 148, 0.4);
	--playback-bar:rgba(0, 0, 0, 0.3);
}

.theme-light {
	--header-primary:#060607;
	--header-secondary:#4f5660;
	--text-normal:#2e3338;
	--text-muted:#747f8d;
	--text-link:#0067e0;
	--channels-default:#3a3f45;
	--interactive-normal:#4f5660;
	--interactive-hover:#2e3338;
	--interactive-active:#060607;
	--interactive-muted:#c7ccd1;
	--background-primary:transparent;
	--background-secondary:transparent;
	--background-secondary-alt:transparent;
	--background-tertiary:transparent;
	--background-accent:rgba(116, 127, 141, 0.24);
	--background-floating:rgba(255, 255, 255, 0.4);
	--background-mobile-primary:#f8f9f9;
	--background-mobile-secondary:#fff;
	--background-modifier-hover:rgba(116, 127, 141, 0.08);
	--background-modifier-active:rgba(116, 127, 141, 0.16);
	--background-modifier-selected:rgba(116, 127, 141, 0.24);
	--background-modifier-accent:rgba(6, 6, 7, 0.08);
	--background-mentioned:transparent;
	--background-mentioned-hover:transparent;
	--background-message-hover:transparent;
	--background-help-warning:rgba(250, 166, 26, 0.1);
	--background-help-info:rgba(0, 103, 224, 0.1);
	--scrollbar-thin-thumb:transparent;
	--scrollbar-thin-track:transparent;
	--scrollbar-auto-thumb:transparent;
	--scrollbar-auto-track:transparent;
	--scrollbar-auto-scrollbar-color-thumb:transparent;
	--scrollbar-auto-scrollbar-color-track:transparent;
	--elevation-stroke:0 0 0 1px rgba(6, 6, 7, 0.08);
	--elevation-low:transparent;
	--elevation-medium:transparent;
	--elevation-high:transparent;
	--logo-primary:#7289da;
	--focus-primary:#00b0f4;
	--radio-group-dot-foreground:#4e5d94;
	--guild-header-text-shadow:0 1px 1px hsla(0, 0%, 100%, 0.4);
	--channeltextarea-background:transparent;
	--activity-card-background:var(--background-attachment);
	--textbox-markdown-syntax:#6a7480;
	--deprecated-card-bg:#f8f9f9;
	--deprecated-card-editable-bg:rgba(246, 246, 247, 0.6);
	--deprecated-store-bg:#f8f9f9;
	--deprecated-quickswitcher-input-background:#fff;
	--deprecated-quickswitcher-input-placeholder:rgba(79, 84, 92, 0.3);
	--deprecated-text-input-bg:rgba(79, 84, 92, 0.02);
	--deprecated-text-input-border:rgba(79, 84, 92, 0.3);
	--deprecated-text-input-border-hover:#b9bbbe;
	--deprecated-text-input-border-disabled:#dcddde;
	--deprecated-text-input-prefix:#b9bbbe;
	/* Custom Variables */
	--background-attachment:rgba(240, 240, 240, 0.2);
	--code-block-border:rgba(240, 240, 240, 0.8);
	--attachment-border:rgba(240, 240, 240, 0.2);
	--background-code-block:rgba(255, 255, 255, 0.3);
	--background-code-inline:rgba(255, 255, 255, 0.5);
	--background-scrollbar-preview:rgba(0,0,0,0.15);
	--background-scrollbar-hover:rgba(0,0,0,0.2);
	--background-scrollbar-active:rgba(0,0,0,0.25);
	--new-message-color:#f04747;
	--background-modifier-hover-brand:rgba(92, 111, 177, 0.16);
	--background-modifier-hover-danger:rgba(240, 71, 71, 0.26);
	--background-floating-hover:rgba(255, 255, 255, 0.5);
	--background-notice:rgba(78, 93, 148, 0.4);
	--playback-bar:rgba(0, 0, 0, 0.3);
}

/*
 * Discord Styling
 */

/* Login Screen */
[class*="splashBackground-"] canvas, [class*="splashBackground-"] [class*="rightSplit-"] {
	display:none;
}

/* Chat */

/* Remove Spacer Between Messages and Text Input */
[class*="messagesWrapper-"] [class*="scrollerSpacer-"] {
	height:5px;
}

[class*="messagesWrapper-"] ~ form [class*="channelTextArea-"] {
	margin-bottom:10px;
	padding-top:10px;
	margin-top:0px;
}

/* Decrease Height of Special Channel Messages (ex: Announcements) */
[class*="messagesWrapper-"] ~ form [class*="content-"] {
	margin-bottom:-45px;
}

[class*="messagesWrapper-"] ~ form [class*="content-"] ~ [class*="buttonContainer-"] {
	margin-bottom:-35px;
}

/* Resize/Move Message Buttons */
[class*="messagesWrapper-"] [class*="buttonContainer-"] [class*="buttons-"] [class*="button-"] {
	height:16px;
	width:16px;
	min-height:16px;
	min-width:16px;
	color:rgba(185, 187, 190, 0.6);
}

[class*="messagesWrapper-"] [class*="buttonContainer-"] [class*="buttons-"] [class*="button-"]:hover, [class*="messagesWrapper-"] [class*="buttonContainer-"] [class*="buttons-"] [class*="button-"]:active, [class*="messagesWrapper-"] [class*="buttonContainer-"] [class*="buttons-"] [class*="button-"][class*="selected-"] {
	color:rgba(155, 157, 160, 0.6) !important;
	background-color:transparent !important;
}

[class*="messagesWrapper-"] [class*="buttonContainer-"] [class*="buttons-"] {
	top:-4px;
	padding-right:0.875rem;
}

[class*="messagesWrapper-"] [class*="groupStart-"]:not([class*="compact-"]) [class*="buttonContainer-"] {
	top:var(--header-height);
}

[class*="messagesWrapper-"] [class*="buttonContainer-"] [class*="buttons-"] [class*="button-"] {
	padding:0px;
}

[class*="messagesWrapper-"] [class*="buttonContainer-"] [class*="buttons-"] div {
	box-shadow:none !important;
	border:0px !important;
}

/* Rotate Settings Button */
[class*="messagesWrapper-"] [class*="buttonContainer-"] [class*="buttons-"] [class*="button-"]:last-child:not([class*="dangerous-"]) {
	transform:rotate(90deg);
	padding-right:0px;
	padding-left:0px;
	margin-right:0px;
	margin-left:0px;
}

/* Margin on Text to Accomodate Buttons */
[class*="messagesWrapper-"] [class*="message-"] [class*="markup-"]:not([contenteditable="true"])::before {
	content:'';
	width:6.75rem;
	height:16px;
	display:inline-flex;
	float:right;
}

/* Make Text Area Wider */
[class*="messagesWrapper-"] [class*="message-"] {
	padding-right:0.875rem !important;
}

/* Spacer Between Message Groups */
[class*="messagesWrapper-"] [class*="groupStart-"]::after {
	content:'';
	border-top:thin solid var(--background-modifier-accent);
	top:calc(0px - var(--message-spacing));
	left:1rem;
	right:0.875rem;
	display:block;
	position:absolute;
}

[class*="messagesWrapper-"] [class*="groupStart-"]:not([class*="compact-"]) {
	margin-top:calc(var(--message-spacing) * 2);
}

[class*="messagesWrapper-"] [class*="divider-"] + [class*="groupStart-"]::after {
	display:none;
}

[class*="messagesWrapper-"] [class*="divider-"] + [class*="groupStart-"]:not([class*="compact-"]) {
	margin-top:calc(var(--message-spacing) * 0.5);
}

[class*="messagesWrapper-"] [class*="divider-"] + [class*="groupStart-"][class*="compact-"] {
	margin-top:0;
}

/* Spacing Between Messages Within a Group */
[class*="messagesWrapper-"] [class*="message-"] {
	padding-top:0px;
	padding-bottom:0px;
}

/* Message Divider */
[class*="messagesWrapper-"] [class*="divider-"] {
	width:100%;
	margin-left:0;
	border:none;
	height:calc(var(--message-spacing) * 1.5) !important;
}

[class*="messagesWrapper-"] [class*="divider-"] span {
	background-color:transparent;
	padding:0;
    display:flex;
	align-items:center;
	text-align:center;
	font-size:14px;
	line-height:22px;
	height:calc(var(--message-spacing) * 2) !important;
	left:1rem;
	right:0.875rem;
	position:absolute;
}

[class*="messagesWrapper-"] [class*="divider-"] span::before {
	margin-right:8px;
}

[class*="messagesWrapper-"] [class*="divider-"] span::after {
	margin-left:8px;
}

[class*="messagesWrapper-"] [class*="divider-"] span::before, [class*="messagesWrapper-"] [class*="divider-"] span::after {
	content:'';
	flex:1;
}

[class*="messagesWrapper-"] [class*="divider-"][class*="isUnread-"] span:nth-child(2) {
	display:none;
}

/* Spacing Correction */
.group-spacing-0 [class*="divider-"][class*="hasContent-"] {
	margin-top:4px;
	margin-bottom:4px;
}

.group-spacing-4 [class*="divider-"][class*="hasContent-"] {
	margin-top:8px;
	margin-bottom:8px;
}

.group-spacing-8 [class*="divider-"][class*="hasContent-"] {
	margin-top:12px;
	margin-bottom:12px;
}

.group-spacing-16 [class*="divider-"][class*="hasContent-"] {
	margin-top:20px;
	margin-bottom:20px;
}

.group-spacing-24 [class*="divider-"][class*="hasContent-"] {
	margin-top:28px;
	margin-bottom:28px;
}

/* New Message Color */
[class*="messagesWrapper-"] [class*="divider-"][class*="isUnread-"] span {
	color:var(--new-message-color);
}

[class*="messagesWrapper-"] [class*="divider-"][class*="isUnread-"] span::before, [class*="messagesWrapper-"] [class*="divider-"][class*="isUnread-"] span::after {
	border-bottom:thin solid var(--new-message-color);
}

[class*="messagesWrapper-"] [class*="divider-"][class*="isUnread-"] span svg {
	display:none;
}

/* Timestamp Divider Color */
[class*="messagesWrapper-"] [class*="divider-"]:not([class*="isUnread-"]) span::before, [class*="messagesWrapper-"] [class*="divider-"]:not([class*="isUnread-"]) span::after {
	border-bottom:thin solid var(--text-muted);
}

/* Mention Background */
[class*="mention"] {
	border-radius:0;
	transition:background-color 50ms ease-out,color 50ms ease-out;
	-webkit-transition:background-color 50ms ease-out,color 50ms ease-out;
}

[class*="mention"][class*="interactive"], [class*="mention"][class*="roleMention"] {
	background-color:rgba(114,137,218,.1);
	color:#7289da;
}

[class*="mention"][class*="interactive"]:hover, [class*="mention"][class*="roleMention"]:hover {
	background-color:rgba(114,137,218,.7);
	color:#fff;
}

[class*="messagesWrapper-"] [class*="message-"][class*="mentioned-"] [class*="mention"][class*="interactive"]:hover {
	color:#7289da;
}

/* Reactions */
[class*="reaction-"] {
	background:var(--background-modifier-accent);
	border-radius:.25rem;
	border:none;
	margin:0 .125rem .125rem 0;
	padding:0;
	-webkit-transition:background-color .1s ease;
	transition:background-color .1s ease;
}

[class*="reaction-"]:hover, [class*="reaction-"]:active {
	background-color:rgba(252, 245, 255, 0.05);
}

[class*="reaction-"][class*="reactionMe-"] {
	background-color:rgba(114,137,218,.3);
}

[class*="reaction-"] [class*="reactionInner-"] {
	padding:0 .375rem;
}

[class*="reaction-"] [class*="reactionCount-"]:not(#foo) {
	color:var(--text-muted);
}

[class*="reaction-"]:hover [class*="reactionCount-"]:not(#foo) {
	color:var(--interactive-hover);
}

[class*="reaction-"][class*="reactionMe-"] [class*="reactionCount-"]:not(#foo), [class*="reaction-"][class*="reactionMe-"]:hover [class*="reactionCount-"]:not(#foo) {
	color:#7289da;
}

/* Transparent New Messages / Jump to Bottom */
[class*="messagesWrapper-"] [class*="barBase-"], [class*="sidebar-"] [class*="unreadBar-"]:not([aria-hidden="true"]) {
	background-color:var(--background-floating) !important;
	left:1rem;
	right:1.375rem;
	padding-bottom:0px;
	backdrop-filter:blur(var(--blur-radius));
	border-radius:4px !important;
}

[class*="messagesWrapper-"] [class*="barBase-"]:hover, [class*="messagesWrapper-"] [class*="barBase-"]:active {
	background-color:var(--background-floating-hover) !important;
}

[data-list-id="guildsnav"] [class*="unreadMentionsBar-"] {
	backdrop-filter:blur(var(--blur-radius));
}

/* Transparent Notice */
[class*="notice-"]:not([class*="-message"]) {
	background-color:var(--background-notice) !important;
	backdrop-filter:blur(var(--blur-radius));
}

/* Scrollbars */
.scroller-2FKFPG::-webkit-scrollbar, .scrollerBase-289Jih::-webkit-scrollbar, .textContainer-C0szpm::-webkit-scrollbar, .scrollbarGhostHairline-1mSOM1::-webkit-scrollbar {
	width:8px;
	height:8px;
}

.scroller-2FKFPG::-webkit-scrollbar-track-piece, .scroller-2FKFPG::-webkit-scrollbar-track, .scrollerBase-289Jih::-webkit-scrollbar-track-piece, .scrollerBase-289Jih::-webkit-scrollbar-track, .textContainer-C0szpm::-webkit-scrollbar-track-piece, .textContainer-C0szpm::-webkit-scrollbar-track, .scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-track {
	background:transparent !important;
	border:none !important;
}

.scroller-2FKFPG::-webkit-scrollbar-thumb, .scrollerBase-289Jih::-webkit-scrollbar-thumb, .textContainer-C0szpm::-webkit-scrollbar-thumb, .scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-thumb {
	background:var(--scrollbar-auto-thumb)!important;
	border:none !important;
	border-radius:0!important;
	width:4px;
	border-left:6px solid var(--lvl3)!important;
}

.scroller-2FKFPG:hover::-webkit-scrollbar-thumb, .scrollerBase-289Jih:hover::-webkit-scrollbar-thumb, .textContainer-C0szpm:hover::-webkit-scrollbar-thumb, .scrollbarGhostHairline-1mSOM1:hover::-webkit-scrollbar-thumb {
	background:var(--background-scrollbar-preview)!important;
	border-radius:0!important;
}

.scroller-2FKFPG::-webkit-scrollbar-thumb:hover, .scrollerBase-289Jih::-webkit-scrollbar-thumb:hover, .textContainer-C0szpm::-webkit-scrollbar-thumb:hover, .scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-thumb:hover {
	background:var(--background-scrollbar-hover) !important;
}

.scroller-2FKFPG::-webkit-scrollbar-thumb:active, .scrollerBase-289Jih::-webkit-scrollbar-thumb:active, .textContainer-C0szpm::-webkit-scrollbar-thumb:active, .scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-thumb:active {
	background:var(--background-scrollbar-active) !important;
}

/* Code Blocks, Embeds, Attachments */
[class*="messagesWrapper-"] [class*="attachment-"]:not([class*="embedFull-"]), [class*="messagesWrapper-"] [class*="wrapper-"][class*="userSelectNone-"], [class*="messagesWrapper-"] [class*="giftCodeContainer-"], [class*="messagesWrapper-"] [class*="wrapperAudio-"], [class*="messagesWrapper-"] [class*="invite-"] {
	background:var(--background-attachment) !important;
	backdrop-filter:blur(var(--blur-radius));
	border:1px solid var(--attachment-border) !important;
}

[class*="messagesWrapper-"] [class*="giftCodeContainer-"] [class*="tile-"], [class*="messagesWrapper-"] [class*="giftCodeContainer-"] [class*="tile-"] [class*="invalidPoop-"] {
	background-color:transparent !important;
}

[class*="messagesWrapper-"] [class*="giftCodeContainer-"] {
	width:auto;
}

[class*="embedFull-"] {
	background:var(--background-attachment) !important;
	backdrop-filter:blur(var(--blur-radius));
	border-left:4px solid rgb(32, 34, 37);
	border-right:1px solid var(--attachment-border) !important;
	border-top:1px solid var(--attachment-border) !important;
	border-bottom:1px solid var(--attachment-border) !important;
}

[class*="markup-"] > pre > code, [class*="messageAttachment-"] [class*="container-"] {
	border:1px solid var(--code-block-border) !important;
	background:var(--background-code-block) !important;
	backdrop-filter:blur(var(--blur-radius));
	border-radius:0 !important;
}

code.inline {
	background:var(--background-code-inline) !important;
	border-radius:0 !important;
}

/* TODO Bugfix for Misaligned Blur in Pinned Messages */
.layerContainer-yqaFcK [class*="messagesPopoutWrap-"] code.inline{
	backdrop-filter:none !important;
}

[class*="textContainer-"] > pre > code, [class*="modalTextContainer-"] > pre > code {
	overflow:visible !important;
}

[class*="modalTextContainer-"] {
	overflow:scroll visible !important;
}

[class*="messagesWrapper-"] [class*="wrapperAudio-"] [class*="audioControls-"], [class*="messagesWrapper-"] [class*="volumeButtonSlider-"] [class*="mediaBarInteraction-"], [class*="messagesWrapper-"] [class*="volumeButtonSlider-"] [class*="mediaBarInteractionDragging-"], [class*="messagesWrapper-"] [class*="videoControls-"] {
	background-color:var(--playback-bar);
}

/* Remove Nitro Gift Icon */
[class*="chat-"] [class*="channelTextArea-"]  [class*="buttons-"]> button[class*="colorBrand-"]:first-child {
	display:none;
}

/* Tooltips */
[class*="tooltipRight-"] {
	backdrop-filter:blur(var(--blur-radius));
	background-color:var(--background-floating);
	border-radius:0;
	padding:0px 0px 0px 8px;
	margin-left:-8px;
	-webkit-clip-path:polygon(8px 4px, 9px 2px, 10px 1px, 12px 0px, calc(100% - 4px) 0%, calc(100% - 2px) 1px, calc(100% - 1px) 2px, 100% 4px, 100% calc(100% - 4px), calc(100% - 1px) calc(100% - 2px), calc(100% - 2px) calc(100% - 1px), calc(100% - 4px) 100%, 12px 100%, 10px calc(100% - 1px), 9px calc(100% - 2px), 8px calc(100% - 4px), 8px calc(50% + 5px), 3px 50%, 8px calc(50% - 5px)) !important;
}

[class*="tooltipBottom-"] {
	backdrop-filter:blur(var(--blur-radius));
	background-color:var(--background-floating);
	border-radius:0;
	padding:8px 0px 0px 0px;
	margin-top:-8px;
	-webkit-clip-path:polygon(0 12px, 1px 10px, 2px 9px, 4px 8px, calc(50% - 5px) 8px, 50% 3px, calc(50% + 5px) 8px, calc(100% - 4px) 8px, calc(100% - 2px) 9px, calc(100% - 1px) 10px, 100% 12px, 100% calc(100% - 4px), calc(100% - 1px) calc(100% - 2px), calc(100% - 2px) calc(100% - 1px), calc(100% - 4px) 100%, 4px 100%, 2px calc(100% - 1px), 1px calc(100% - 2px), 0 calc(100% - 4px)) !important;
}

[class*="tooltipLeft-"] {
	backdrop-filter:blur(var(--blur-radius));
	background-color:var(--background-floating);
	border-radius:0;
	padding:0px 0px 0px 8px;
	margin-left:-8px;
	-webkit-clip-path:polygon(0px 4px, 1px 2px, 2px 1px, 4px 0px, calc(100% - 12px) 0%, calc(100% - 10px) 1px, calc(100% - 9px) 2px, calc(100% - 8px) 4px, calc(100% - 8px) calc(50% - 5px), 100% 50%, calc(100% - 8px) calc(50% + 5px), calc(100% - 8px) calc(100% - 4px), calc(100% - 9px) calc(100% - 2px), calc(100% - 10px) calc(100% - 1px), calc(100% - 12px) 100%, 4px 100%, 2px calc(100% - 1px), 1px calc(100% - 2px), 0px calc(100% - 4px)) !important;
}

[class*="tooltipTop-"], .layerContainer-yqaFcK .toolbar-2bjZV7, #EditUploadsToolbar .toolIconWrapper:not(#foo):hover::after /* EditUploads Plugin Tooltips */ {
	backdrop-filter:blur(var(--blur-radius));
	background-color:var(--background-floating);
	border-radius:0;
	padding:0px 0px 8px 0px;
	margin-bottom:-8px;
	-webkit-clip-path:polygon(0 4px, 1px 2px, 2px 1px, 4px 0px, calc(100% - 4px) 0px, calc(100% - 2px) 1px, calc(100% - 1px) 2px, 100% 4px, 100% calc(100% - 12px), calc(100% - 1px) calc(100% - 10px), calc(100% - 2px) calc(100% - 9px), calc(100% - 4px) calc(100% - 8px), calc(50% + 5px) calc(100% - 8px), 50% calc(100% - 3px), calc(50% - 5px) calc(100% - 8px), 4px calc(100% - 8px), 2px calc(100% - 9px), 1px calc(100% - 10px), 0 calc(100% - 12px)) !important;
}

[class*="tooltipPointer-"], .layerContainer-yqaFcK .toolbar-2bjZV7::before, [class*="mediaBarWrapper-"] [class*="bubble-"]::before {
	display:none !important;
}

/* Small Media Player Time Tooltip */
[class*="mediaBarWrapper-"] [class*="bubble-"] {
	line-height:12px;
	background-color:var(--background-floating);
	border-radius:0;
	padding:8px 12px;
	margin-bottom:-8px;
	-webkit-clip-path:polygon(0 4px, 1px 2px, 2px 1px, 4px 0px, calc(100% - 4px) 0px, calc(100% - 2px) 1px, calc(100% - 1px) 2px, 100% 4px, 100% calc(100% - 12px), calc(100% - 1px) calc(100% - 10px), calc(100% - 2px) calc(100% - 9px), calc(100% - 4px) calc(100% - 8px), calc(50% + 5px) calc(100% - 8px), 50% calc(100% - 3px), calc(50% - 5px) calc(100% - 8px), 4px calc(100% - 8px), 2px calc(100% - 9px), 1px calc(100% - 10px), 0 calc(100% - 12px)) !important;

}

/* Popouts */
.backdrop-1wrmKB, .container-16j22k, [class*="uploadArea-"][class*="droppable-"], .layerContainer-yqaFcK [class*="reactors-"], .layerContainer-yqaFcK .scroller-1-nKid {
	background-color:transparent !important;
}

.container-16j22k, [class*="uploadArea-"][class*="droppable-"] {
	backdrop-filter:blur(var(--blur-radius));
}

.backdrop-1wrmKB + div::before {
	content:'';
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	backdrop-filter:blur(var(--blur-radius));
}

div:not([class*="translate-"]) > .layerContainer-yqaFcK [role="dialog"]:not(#emoji-picker-tab-panel):not([class*="colorPickerCustom-"]):not([class*="userPopout-"]) > div:not([role="combobox"]):not(.modal-qgFCbT), .layerContainer-yqaFcK > [role="listbox"], .layerContainer-yqaFcK > * > [role="listbox"], [class*="translate-"], .popouts-2bnG9Z [style*="translate"], .layerContainer-yqaFcK  [class*="drawerSizingWrapper-"] > [class*="contentWrapper-"], [class*="addGamePopout-"], [class*="quickswitcher-"], #app-mount [class*="app-"] .wrapper-3lJCnD, [class*="splashBackground-"] [class*="authBox-"], [class*="profileBannerPreview-"] {
	backdrop-filter:blur(var(--blur-radius));
}

div:not([class*="translate-"]) > .layerContainer-yqaFcK [role="dialog"]:not(#emoji-picker-tab-panel):not([class*="colorPickerCustom-"]) > div:not([role="combobox"]):not(.modal-qgFCbT), .layerContainer-yqaFcK > [role="listbox"], .layerContainer-yqaFcK > * > [role="listbox"], .layerContainer-yqaFcK .container-3XJ8ns, .layerContainer-yqaFcK [class*="colorPickerCustom-"], [role="dialog"]:not([class*="userPopout-"]) > [class*="body-"], [role="dialog"] [data-user-id] > [class*="body-"], .layerContainer-yqaFcK  [class*="drawerSizingWrapper-"] > [class*="contentWrapper-"], #emoji-picker-tab-panel:not([class*="emojiPickerInExpressionPicker-"]), [class*="addGamePopout-"], [class*="quickswitcher-"], [class*="streamPreview-"], #app-mount [class*="app-"] .wrapper-3lJCnD, [class*="splashBackground-"] [class*="authBox-"], [class*="profileBannerPreview-"] {
	box-shadow:none !important;
	background-color:var(--background-floating) !important;
}

/* Transparent Message Preview */
.layerContainer-yqaFcK [class*="content-"] .message-2qRu38 {
	background-color:var(--background-primary) !important;
	border:none !important;
	box-shadow:none !important;
}

/* Fix Misaligned Blur on Livestream Watchers Popout */
.layerContainer-yqaFcK [class*="translate-"] > .popoutWrapper-3TSaaB {
	left:0;
}

.layerContainer-yqaFcK [class*="translate-"] > .container-2dqNWc {
	margin-left:0;
}

.layerContainer-yqaFcK [class*="translate-"] > [class*="streamPreviewWrapper-"] {
	padding-left:0;
}

/* Autocomplete */
[class*="autocomplete-"] {
	box-shadow:none !important;
	background-color:var(--background-floating) !important;
	backdrop-filter:blur(var(--blur-radius));
}

[class*="autocomplete-"] [class*="categoryHeader-"] {
	background-color:transparent !important;
}

[class*="autocomplete-"] [class*="autocompleteRow-"] [class*="selected-"] {
	background-color:var(--background-modifier-hover) !important;
}

/* Emoji Information */
.popoutContainer-1MXdqN {
	box-shadow:none !important;
	background-color:var(--background-floating) !important;
}

.layerContainer-yqaFcK [role="menu"]::before {
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	backdrop-filter:blur(var(--blur-radius));
	box-shadow:none !important;
}

/* User Popouts */
[class*="userPopout-"], .layerContainer-yqaFcK [role="dialog"] [class*="root-"] [class*="footer-"], [class*="userPopout-"] [class*="bodyInnerWrapper-"] {
	background:transparent !important;
	box-shadow:none !important;
}

[class*="userPopout-"] [class*="headerPlaying-"]:not(#foo):not(#bar), [role="dialog"] [class*="topSectionPlaying-"] {
	background-color:rgba(114, 137, 218, 0.35) !important;
}

[class*="userPopout-"] [class*="headerSpotify-"]:not(#foo):not(#bar), [role="dialog"] [class*="topSectionSpotify-"] {
	background-color:rgba(29, 185, 84, 0.4) !important;
}

[class*="userPopout-"] [class*="headerXbox-"]:not(#foo):not(#bar), [role="dialog"] [class*="topSectionXbox-"] {
	background-color:rgba(16, 124, 16, 0.4) !important;
}

[class*="userPopout-"] [class*="headerStreaming-"]:not(#foo):not(#bar), [role="dialog"] [class*="topSectionStreaming-"] {
	background-color:rgba(89, 54, 149, 0.45) !important;
}

[class*="userPopout-"] [class*="aboutMeSection-"] {
	background:transparent !important;
}

.activityUserPopout-2yItg2, .headerFill-adLl4x {
	background-color:transparent !important;
}

/* Profile Banner */
[class*="userPopout-"] [class*="popoutBanner-"]:not(#foo):not(#bar), [role="dialog"] [class*="profileBanner-"] {
	opacity:0.7 !important;
}

/* Mask Out Profile Picture from Banner for Transparent Profile Pictures */
[class*="userPopout-"] [class*="popoutBanner-"]:not(#foo):not(#bar) {
	mask:radial-gradient(circle 46px at 62px 62px,transparent 97%,#fff 100%);
	-webkit-mask:radial-gradient(circle 46px at 62px 62px,transparent 97%,#fff 100%);
}

[role="dialog"] [class*="profileBanner-"] {
	mask:radial-gradient(circle 68px at 84px 120px,transparent 97%,#fff 100%);
	-webkit-mask:radial-gradient(circle 68px at 84px 120px,transparent 97%,#fff 100%);
}

/* Premium Profile Banners */
[class*="userPopout-"] [class*="popoutBannerPremium-"]:not(#foo):not(#bar), [class*="profileBannerPreview-"] [class*="banner-"] {
	mask:radial-gradient(circle 46px at 62px 122px,transparent 97%,#fff 100%);
	-webkit-mask:radial-gradient(circle 46px at 62px 122px,transparent 97%,#fff 100%);
}

[role="dialog"] [class*="profileBannerPremium-"] {
	mask:radial-gradient(circle 68px at 84px 240px,transparent 97%,#fff 100%);
	-webkit-mask:radial-gradient(circle 68px at 84px 240px,transparent 97%,#fff 100%);
}

/* Image Preview */
.layerContainer-yqaFcK [role="dialog"] [class*="downloadLink-"], .layerContainer-yqaFcK [role="dialog"] [class*="operations-"] {
	position:relative;
}

.layerContainer-yqaFcK [role="dialog"] [class*="imageWrapper-"] {
	margin-left:auto;
	margin-right:auto;
}

/* Search */
.layerContainer-yqaFcK [role="listbox"] [class*="resultsGroup-"] [class*="option"], .layerContainer-yqaFcK [role="listbox"] [class*="queryContainer-"] {
	background:transparent;
}

.layerContainer-yqaFcK [role="listbox"] [class*="resultsGroup-"] [class*="option"]:hover {
	background:var(--background-modifier-hover);
}

.layerContainer-yqaFcK [role="listbox"] [class*="resultsGroup-"] [class*="option"]:active {
	background:var(--background-modifier-active);
}

.layerContainer-yqaFcK [role="listbox"] [class*="resultsGroup-"] [class*="option"]::before, .layerContainer-yqaFcK [role="listbox"] [class*="resultsGroup-"] [class*="option"]::after {
	display:none !important;
}

[id="search-results"] [class*="searchResultGroup-"] [class*="buttonsContainer-"] [class*="button-"] {
	background-color:var(--background-floating) !important;
	backdrop-filter:blur(var(--blur-radius));
}

[class*="calendarPicker-"], .react-datepicker, .react-datepicker__header {
	background:transparent !important;
}

.react-datepicker__day--outside-month:not(#foo) {
	background:var(--background-accent) !important;
}

.react-datepicker__day:hover {
	background:var(--background-modifier-hover) !important;
}

.react-datepicker__day--outside-month:hover {
	background:var(--background-floating) !important;
}

.react-datepicker__day--disabled, .react-datepicker__day--disabled:hover {
	background:var(--background-floating-hover) !important;
}

.react-datepicker__navigation {
	border-color:transparent !important;
}

/* Settings/Inputs */
*:not([class*="copyInput-"]) > * > [class*="inputWrapper-"]:not([class*="copyInput-"]) *, [class*="copyInput-"], [class*="emojiInput-"], [class*="emojiRow-"]:hover [class*="emojiInput-"], [class*="emojiRow-"]:focus-within [class*="emojiInput-"], .container-CpszHS, [class*="peopleColumn-"] [class*="addInputWrapper-"] form, [class*="quickswitcher-"] input {
	backdrop-filter:blur(var(--blur-radius));
	background-color:var(--background-attachment) !important;
}

*:not([class*="copyInput-"]) > * > [class*="inputWrapper-"]:not([class*="copyInput-"]) *:hover, [class*="copyInput-"]:hover, .container-CpszHS:hover, [class*="peopleColumn-"] [class*="addInputWrapper-"] form:hover, [class*="quickswitcher-"] input:hover {
	background-color:var(--background-modifier-hover) !important;
}

*:not([class*="copyInput-"]) > * > [class*="inputWrapper-"]:not([class*="copyInput-"]) *:active, [class*="copyInput-"]:active, .container-CpszHS:active, [class*="peopleColumn-"] [class*="addInputWrapper-"] form:active, [class*="quickswitcher-"] input:active {
	background-color:var(--background-modifier-active) !important;
}

[class*="select-"] > div > [class*="-control"], .bd-select {
	backdrop-filter:blur(var(--blur-radius));
	background-color:var(--background-attachment);
	border-color:rgba(0, 0, 0, 0.6);
}

[class*="select-"] > div > [class*="-control"]:hover, .bd-select:hover {
	background-color:var(--background-modifier-hover);
	border-color:rgba(0, 0, 0, 0.6);
}

[class*="select-"] > div > [class*="-control"]:active, .bd-select:active, .bd-select.menu-open {
	background-color:var(--background-modifier-active);
	border-color:rgba(0, 0, 0, 0.6);
}

[class*="select-"] > div > [class*="-menu"], .bd-select .bd-select-options {
	border-top:none;
	border-color:rgba(0, 0, 0, 0.6);
	backdrop-filter:blur(var(--blur-radius));
	box-shadow:none !important;
	background-color:var(--background-floating) !important;
}

[class*="select-"] > div:hover {
	background-color:var(--background-modifier-hover);
}

[class*="select-"] > div:active {
	background-color:var(--background-modifier-active);
}

[class*="radioBar-"] {
	backdrop-filter:blur(var(--blur-radius));
	background-color:var(--background-attachment);
}

[tabindex="0"] [class*="radioBar-"] {
	background-color:var(--background-modifier-selected);
}

[class*="auditLog-"], .card-3Qj_Yx {
	backdrop-filter:blur(var(--blur-radius));
	background-color:var(--background-attachment);
}

.card-FDVird::before {
	background-color:var(--background-modifier-hover) !important;
	border:none !important;
}

[class*="tiers-"] [class*="tier-"], [class*="connectionList-"] [class*="connection-"], [class*="guildSubscriptionSlots-"], [class*="codeRedemptionRedirect-"]:not(#foo) {
	backdrop-filter:blur(var(--blur-radius));
	background-color:var(--background-attachment);
}

.layerContainer-yqaFcK [class*="selectGuild-"]:hover {
	background-color:var(--background-modifier-hover);
}

[class*="tiers-"] [class*="tierBody-"] {
	background-color:transparent;
}

[class*="tiers-"] [class*="tierHeader-"]:not([class*="tierHeaderUnlocked-"]) {
	background-color:var(--background-accent);
}

/* Other Pages */
[class*="applicationStore-"], [class*="guilds-"] ~ * [class*="sidebar-"] ~ [class*="container-"], [class*="guilds-"] ~ * [class*="sidebar-"] ~ [class*="pageWrapper-"] {
	background-color:transparent !important;
}

[class*="nowPlayingColumn-"] [class*="itemCard-"], [class*="peopleListItem-"] [class*="actions-"] [class*="actionButton-"], [class*="pageWrapper-"] [class*="guildListSection-"] [class*="guildList-"] [class*="loaded-"], [class*="pageWrapper-"] [class*="guildList-"] [class*="card-"], [class*="nowPlayingColumn-"]  [class*="card-"] {
	backdrop-filter:blur(var(--blur-radius));
	background-color:var(--activity-card-background);
}

[class*="nowPlayingColumn-"]  [class*="itemCard-"] [class*="inset-"] {
	background-color:var(--background-attachment);
}

[class*="nowPlayingColumn-"] [class*="itemCard-"]:not(#foo):hover, [class*="peopleListItem-"] [class*="actions-"] [class*="actionButton-"]:hover, [class*="pageWrapper-"] [class*="guildListSection-"] [class*="guildList-"] [class*="loaded-"]:hover, [class*="pageWrapper-"] [class*="guildList-"] [class*="card-"]:hover {
	background-color:var(--background-modifier-hover);
}

[class*="nowPlayingColumn-"] [class*="itemCard-"]:not(#foo):active, [class*="nowPlayingColumn-"] [class*="itemCard-"][class*=" active-"], [class*="peopleListItem-"] [class*="actions-"] [class*="actionButton-"]:active, [class*="pageWrapper-"] [class*="guildListSection-"] [class*="guildList-"] [class*="loaded-"]:active, [class*="pageWrapper-"] [class*="guildList-"] [class*="card-"]:active {
	background-color:var(--background-modifier-active);
}

.layerContainer-yqaFcK [class*="perksModal-"] {
	background-color:transparent;
	backdrop-filter:blur(var(--blur-radius));
}

.layerContainer-yqaFcK [class*="perksModal-"] [class*="perks-"] [class*="perk-"], .layerContainer-yqaFcK [class*="perksModal-"] [class*="tier-"] {
	backdrop-filter:blur(var(--blur-radius));
	background-color:var(--background-attachment);
}

.layerContainer-yqaFcK [class*="perksModal-"] [class*="tier-"] [class*="tierBody-"] {
	background-color:transparent;
}

.layerContainer-yqaFcK [class*="perksModal-"] [class*="tier-"] [class*="tierHeader-"] {
	background-color:var(--background-accent);
}

/* Preset Colors */
.theme-dark [class*="lookFilled-"][class*="colorGrey-"] {
	background-color:rgba(79, 84, 95, 0.6);
}

.theme-light [class*="lookFilled-"][class*="colorGrey-"] {
	background-color:rgba(116, 127, 141, 0.6);
}

[class*="colorDefault-"][class*="focused-"] {
	background-color:var(--background-modifier-hover);
}

[class*="colorDefault-"][class*="colorBrand-"][class*="focused-"] {
	background-color:var(--background-modifier-hover-brand);
}

[class*="colorDefault-"][class*="colorDanger-"][class*="focused-"] {
	background-color:var(--background-modifier-hover-danger);
}

[class*="colorDefault-"][class*="focused-"]:active:not(#foo), [class*="colorDefault-"]:active:not(#foo) {
	background-color:var(--background-modifier-active);
}

[class*="colorDefault-"][class*="colorBrand-"][class*="focused-"]:active:not(#foo), [class*="colorDefault-"][class*="colorBrand-"]:active:not(#foo) {
	background-color:var(--background-modifier-active-brand);
}

[class*="colorDefault-"][class*="colorDanger-"][class*="focused-"]:active:not(#foo), [class*="colorDefault-"][class*="colorDanger-"]:active:not(#foo) {
	background-color:var(--background-modifier-active-danger);
}

/* Emoji Picker */
#emoji-picker-tab-panel [class*="categoryItemDefaultCategorySelected-"], [class*="categoryItemDefaultCategorySelected-"]:hover {
	background-color:var(--background-modifier-selected);
}

#emoji-picker-tab-panel [class*="diversitySelector-"] [class*="diversitySelectorOptions-"] {
	z-index:10;
	background-color:var(--background-floating);
	backdrop-filter:blur(var(--blur-radius));
}

/* Emoji Picker Unicode Shortcut */
.layerContainer-yqaFcK [class*="drawerSizingWrapper-"] > [class*="contentWrapper-"] [class*="categoryList-"] {
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	align-items:stretch;
}

.layerContainer-yqaFcK [class*="drawerSizingWrapper-"] > [class*="contentWrapper-"] [class*="categoryList-"] [class*="scroller-"]  {
	height:auto !important;
	flex-grow:1;
	align-self:flex-start;
	position:relative !important;
	width:100%;
}

#emoji-picker-tab-panel [class*="unicodeShortcut-"], .layerContainer-yqaFcK [class*="drawerSizingWrapper-"] > [class*="contentWrapper-"] [class*="standardStickerShortcut-"] {
	flex-shrink:0;
	flex-grow:0;
	align-self:flex-end;
	position:relative !important;
	width:100%;
}

#emoji-picker-tab-panel [class*="unicodeShortcut-"][class*="unicodeShortcutInvisible-"], .layerContainer-yqaFcK [class*="drawerSizingWrapper-"] > [class*="contentWrapper-"] [class*="standardStickerShortcut-"][class*="invisibleShortcut-"] {
	display:none;
}

#gif-picker-tab-panel [class*="header-"] {
	box-shadow:none !important;
}

/* Upload Modal */
[class*="uploadModal-"] {
	position:fixed !important;
	top:0px !important;
	left:0px !important;
	background:transparent !important;
	box-shadow:none !important;
}

[class*="uploadModal-"] [class*="file-"] [class*="icon-"] {
	border:0 !important;
	box-shadow:none !important;
	margin:0 !important;
	background-position:50% !important;
	position:fixed !important;
    width:80vw !important;
	left:10vw !important;
	top:70px !important;
	background-size:contain !important;
	background-color:transparent !important;
	background-repeat:no-repeat !important;
}

[class*="uploadModal-"] [class*="file-"] [class*="description-"] {
	position:fixed !important;
	left:0 !important;
	top:20px !important;
	width:100vw !important;
	padding:0 !important;
	text-align:center !important;
}

[class*="uploadModal-"] [class*="comment-"]{
	position:fixed !important;
	width:80vw !important;
	left:10vw !important;
	height:calc(100vh - 50px) !important;
	top:0vh !important;
	margin:0 !important;
	padding:0 !important;
}

[class*="uploadModal-"] [class*="comment-"] [class*="label-"] {
	display:none;
}

[class*="uploadModal-"] [class*="comment-"] [class*="channelTextArea-"] {
	position:absolute;
	bottom:-15px;
}

[class*="uploadModal-"] [class*="channelTextAreaUpload-"][class*="inputWrapper-"] {
	margin:0;
	padding:0;
}

[class*="uploadModal-"] [class*="channelTextAreaUpload-"][class*="inputWrapper-"] input {
	backdrop-filter:none !important;
	background-color:transparent !important;
	border:none !important;
	position:fixed !important;
	left:0 !important;
	top:20px !important;
	width:100vw !important;
	height:22px !important;
	padding:0 !important;
	text-align:center !important;
	color:var(--header-primary) !important;
	font-size:20px !important;
	font-weight:700 !important;
	font-style:normal !important;
	line-height:20px !important;
	vertical-align:baseline !important;
}

[class*="uploadModal-"] [class*="channelTextAreaUpload-"][class*="inputWrapper-"] input:hover, [class*="uploadModal-"] [class*="channelTextAreaUpload-"][class*="inputWrapper-"] input:active {
	background-color:transparent !important;
}

[class*="uploadModal-"] [class*="footer-"] {
	position:fixed !important;
	background:transparent !important;
	width:80vw !important;
	left:10vw !important;
	height:calc(100vh - 10px) !important;
	top:0vh !important;
	margin:0 !important;
	padding:0 !important;
	margin-bottom:5px !important;
	align-items:flex-end !important;
	z-index:-1;
}

[class*="uploadModal-"] [class*="footer-"]  [class*="checkboxWrapper-"] {
	flex-grow:0;
}

/* Upload Modal Sizing */
@media only screen and (max-height: 300px) {
	[class*="uploadModal-"] [class*="file-"] [class*="icon-"] {
		height:50vh !important;
	}
	
	[class*="uploadModal-"] [class*="comment-"] [class*="channelTextArea-"], [class*="uploadModal-"] [class*="comment-"] [class*="channelTextArea-"] [class*="scrollableContainer-"] {
		max-height:calc(100vh - (50vh + 22px + 20px));
	}
}

@media only screen and (min-height: 301px) {
	[class*="uploadModal-"] [class*="file-"] [class*="icon-"] {
		height:50vh !important;
	}
	
	[class*="uploadModal-"] [class*="comment-"] [class*="channelTextArea-"], [class*="uploadModal-"] [class*="comment-"] [class*="channelTextArea-"] [class*="scrollableContainer-"] {
		max-height:calc(100vh - (50vh + 22px + 105px));
	}
}

@media only screen and (min-height: 500px) {
	[class*="uploadModal-"] [class*="file-"] [class*="icon-"] {
		height:65vh !important;
	}
	
	[class*="uploadModal-"] [class*="comment-"] [class*="channelTextArea-"], [class*="uploadModal-"] [class*="comment-"] [class*="channelTextArea-"] [class*="scrollableContainer-"] {
		max-height:calc(100vh - (65vh + 22px + 105px));
	}
}

@media only screen and (min-height: 700px) {
	[class*="uploadModal-"] [class*="file-"] [class*="icon-"] {
		height:75vh !important;
	}
	
	[class*="uploadModal-"] [class*="comment-"] [class*="channelTextArea-"], [class*="uploadModal-"] [class*="comment-"] [class*="channelTextArea-"] [class*="scrollableContainer-"] {
		max-height:calc(100vh - (75vh + 22px + 105px));
	}
}

/* Shrink Guilds Inside Expanded Folder */
[data-list-id=guildsnav] [role="group"][id|="folder-items"] .wrapper-25eVIn, [data-list-id=guildsnav] [role="group"][id|="folder-items"] .wrapper-25eVIn > svg, [data-list-id=guildsnav] [role="group"][id|="folder-items"] [class*="pill-"] {
	width:38px;
	height:38px;
}

[data-list-id=guildsnav] [role="group"][id|="folder-items"] {
	height:auto !important;
}

[data-list-id=guildsnav] [class|="expandedFolderBackground"] {
	bottom:auto;
	top:auto;
	height:calc(100% + 5px);
	clip-path:inset(0px 0px 0px 0px);
	transition:clip-path 250ms ease, background-color 250ms ease;
}

[data-list-id=guildsnav] [class|="expandedFolderBackground"][class*="collapsed-"] {
	background-color:transparent !important;
	clip-path:inset(0px 0px 100% 0px);
}

@keyframes guildFadeIn {
	0% {
		opacity:0;
		clip-path:inset(0px 0px 100% 0px);
	}
	100% {
		opacity:1;
		clip-path:inset(0px 0px 0px 0px);
	}
}

[data-list-id=guildsnav] [id|="folder-items"] {
	opacity:1;
	clip-path:inset(0px 0px 0px 0px);
	transition:clip-path 250ms ease, opacity 250ms ease;
	animation:guildFadeIn 250ms ease;
}

[data-list-id=guildsnav] [class|="expandedFolderBackground"][class*="collapsed-"] ~ [id|="folder-items"] {
	opacity:0;
	clip-path:inset(0px 0px 100% 0px);
}

/* Transparent Guilds with No Image */
[data-list-id=guildsnav] [class*="listItem-"] [class*="childWrapper-"], [data-list-id=guildsnav] [class*="listItem-"] [class*="circleIconButton-"] {
	background-color:rgba(54,57,63,0.85);
}

[data-list-id=guildsnav] [class*="listItem-"] [class*="circleIconButton-"][class*="selected-"] {
	background-color:rgba(67,181,129,0.85);
}

[data-list-id=guildsnav] [class*="listItem-"] [data-list-item-id*="_home"][class*="selected-"] > div {
	background-color:rgba(114,137,218,0.85);
}

[class|="expandedFolderBackground"][class*="collapsed-"] ~ [class|="listItem"] .wrapper-25eVIn::before {
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	backdrop-filter:blur(var(--blur-radius));
	border-radius:16px;
}

[class|="expandedFolderBackground"] {
	backdrop-filter:blur(var(--blur-radius));
}

/* Fix Server List Outlined when Clicking */
[data-list-id=guildsnav] {
	outline:none !important;
}

/* Background Image */
#app-mount::before {
	content:'';
	width:100%;
	height:100%;
	left:0;
	top:0;
	position:absolute;
	background-image:linear-gradient(to right,rgba(var(--background-screen-cover), var(--background-screen-opacity)) 0%,rgba(var(--background-screen-cover), var(--background-screen-opacity)) 100%),var(--background-url); /* Please use this to change background image */
	background-size:cover;
	z-index:-5;
}

/*
 * Plugin Specific Styling
 */

/* BetterDiscord Plugin Settings */
.bd-addon-settings-wrap .plugin-inputs {
	transition:all 300ms cubic-bezier(0.47, 0, 0.745, 0.715) !important;
	transform:scaleY(1) !important;
	overflow:inherit !important;
}

.bd-addon-settings-wrap .plugin-inputs.collapsed {
	transform:scaleY(0) !important;
}

.bd-addon-settings-wrap .plugin-input-group > [class*="title"] {
	cursor:pointer;
}

.bd-addon-card {
	backdrop-filter:blur(var(--blur-radius));
	box-shadow:none !important;
	background-color:var(--background-floating) !important;
}

/* BetterDiscord/ZeresPluginLibrary Toasts */
.bd-toasts .bd-toast:not([class*="toast-"]), #app-mount .toasts .toast:not([class*="toast-"]) {
	background-color:var(--background-floating) !important;
}

#app-mount .toasts .toast {
	box-shadow:none !important;
}

/* EditUploads Plugin */
#EditUploadsEditButton {
	top:calc(100vh - 1em - 25px) !important;
	position:fixed !important;
	z-index:10000 !important;
}

#EditUploadsModal {
	border-radius:0;
	box-shadow:none !important;
	background:none !important;
	border:none !important;
}

#EditUploadsCanvasWrapper, #EditUploadsToolbar {
	box-shadow:none !important;
	background:none !important;
	border:none !important;
}

#EditUploadsModal::before {
	content:'';
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	backdrop-filter:blur(var(--blur-radius));
}

#EditUploadsToolbar .toolIconWrapper:not(#foo):hover::after {
	backdrop-filter:blur(var(--blur-radius));
	box-shadow:none !important;
	background-color:var(--background-floating) !important;
	border:none;
	margin-bottom:-2px;
	padding:8px 12px 16px 12px;
}

/* ImageUtilities Plugin */
[class*="lensBackdrop-"] {
	backdrop-filter:blur(var(--blur-radius));
}

/* CharCounter Plugin */
[class*="messagesWrapper-"] ~ form [class*="charCounter-"] {
	bottom:-0.5em;
	right:10px;
}

[class*="uploadModal-"] [class*="comment-"] [class*="charCounterAdded-"] {
	position:static !important;
}

[class*="uploadModal-"] [class*="comment-"] [class*="charCounterAdded-"] [class*="charCounter-"] {
	bottom:0;
	right:-1em;
}

/* GuildProfile Plugin */
.guild-profile [class*="body-"] {
	background-color:var(--background-floating) !important;
}

/* Display Version Info */
[class*="sidebar-"] [role="tabbar"] [class*="info-"]::after {
	content:"Xpose Theme Version: v" var(--xposeVersion);
	color:var(--text-muted);
	font-size:12px;
	line-height:16px;
}

.bd-addon-list [id*="XposeLoader"] .bd-addon-header .bd-title .bd-meta::after {
	content:"Theme Version: v" var(--xposeVersion);
	padding-left:1em;
}
