/**
 * @name XposeRAW
 * @author PseudoResonance
 * @version 2.12.1
 * @description Custom theme.
 * @source https://github.com/PseudoResonance/BetterDiscord-Theme/blob/master/XposeRAW.theme.css
 */

:root, .theme-dark, .theme-light {
	--background-screen-cover: 0, 0, 0; /* Color of screen over background */
	--background-screen-opacity: 0.45; /* Value from 0-1 - 0 being least opaque, 1 being most opaque */
	--background-url: url("https://i.imgur.com/avzaqfC.jpg"); /* URL for background */
	--version: "v2.12.1";
	--message-spacing:1.0625rem;
	--header-height:1.375rem;
}

.theme-dark {
	--channels-default: #ccc;
	--interactive-muted: #aaa;
	--interactive-normal:#fff;
	--header-secondary:#fff;
	--text-muted: #999;
	--elevation-low: 0;
	--elevation-high: 0;
	--blur-radius: 10px;
	--background-primary: transparent;
	--background-secondary: transparent;
	--background-tertiary: transparent;
	--channeltextarea-background: transparent;
	--background-secondary-alt: transparent;
	--background-accent: transparent;
	--background-floating: rgba(24, 25, 28, 0.4);
	--background-floating-hover: rgba(14, 15, 18, 0.4);
	--background-mobile-primary: transparent;
	--background-mobile-secondary: transparent;
	--background-modifier-hover: rgba(79, 84, 92, 0.16);
	--background-modifier-active: rgba(79, 84, 92, 0.24);
	--background-modifier-selected: rgba(79, 84, 92, 0.32);
	--background-modifier-accent: transparent;
	--background-message-hover: transparent;
	--guild-header-text-shadow: none;
	--activity-card-background: transparent;
	--background-mentioned: transparent;
	--background-mentioned-hover: transparent;
	--border-color: rgba(255, 255, 255, 0.06);
}

.theme-light {
	--blur-radius: 10px;
	--background-primary: transparent;
	--background-secondary: transparent;
	--background-tertiary: transparent;
	--channeltextarea-background: transparent;
	--background-secondary-alt: transparent;
	--background-accent: transparent;
	--background-floating: rgba(24, 25, 28, 0.2);
	--background-floating-hover: rgba(14, 15, 18, 0.2);
	--background-mobile-primary: transparent;
	--background-mobile-secondary: transparent;
	--background-modifier-hover: rgba(116,127,141,0.08);
	--background-modifier-active: rgba(116,127,141,0.16);
	--background-modifier-selected: rgba(116,127,141,0.24);
	--background-modifier-accent: transparent;
	--background-message-hover: transparent;
	--guild-header-text-shadow: none;
	--activity-card-background: transparent;
	--background-mentioned: transparent;
	--background-mentioned-hover: transparent;
	--border-color: rgba(255, 255, 255, 0.06);
}

.theme-dark .pageWrapper-1PgVDX {
	background:transparent;
}

/* Active color */
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
	background-color:var(--background-modifier-active);
}

/* Hover color */
.theme-dark .memberListItem-2ZX2pl:not(.popoutDisabled-xucru2):hover, .theme-dark .card-FDVird:before, .theme-dark .gameNameInput-385LoS:focus, .theme-dark .gameNameInput-385LoS:hover {
	background-color:var(--background-modifier-hover);
}

.theme-dark .card-FDVird:before {
	border:none;
}

/* BetterDiscord Color */
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
	background-color:var(--background-modifier-hover);
}

/* Scrollbar */
.scroller-2FKFPG::-webkit-scrollbar, .scrollerBase-289Jih::-webkit-scrollbar {
	width:8px;
}

.scroller-2FKFPG::-webkit-scrollbar-track-piece, .scroller-2FKFPG::-webkit-scrollbar-track, .scrollerBase-289Jih::-webkit-scrollbar-track-piece, .scrollerBase-289Jih::-webkit-scrollbar-track {
	background: transparent !important;
	border: none !important;
}

.scroller-2FKFPG::-webkit-scrollbar-thumb, .scrollerBase-289Jih::-webkit-scrollbar-thumb {
	background: rgba(255,255,255,0)!important;
	border: none !important;
	border-radius:0!important;
	width:4px;
	border-left:6px solid var(--lvl3)!important;
	display:var(--settings-scrollbar);
}

.scroller-2FKFPG:hover::-webkit-scrollbar-thumb, .scrollerBase-289Jih:hover::-webkit-scrollbar-thumb {
	background: rgba(255,255,255,.15)!important;
	border-radius:0!important;
}

.scroller-2FKFPG::-webkit-scrollbar-thumb:active, .scrollerBase-289Jih::-webkit-scrollbar-thumb:active {
	background:rgba(255,255,255,.12);
}

/* Element Resizing */
.channelTextArea-rNsIhG {
	margin-bottom: 10px;
	padding-top:10px;
	margin-top:0px;
}

/* Remove spacer between messages and text input */
.scrollerSpacer-avRLaA {
	display:none;
}

/* Shrink guilds inside expanded folder */
[role="group"][id|="folder-items"] .wrapper-25eVIn, [role=group][id|=folder-items] .wrapper-25eVIn > svg, [role=group][id|=folder-items] .pill-31IEus {
	width: 38px;
	height: 38px;
}

div.wrapper-21YSNc, [role="group"][id|="folder-items"] {
	height: auto !important;
}

[class^="expandedFolderBackground-"] {
	bottom:auto;
	top:auto;
	height:100%;
}

[class^="expandedFolderBackground-"].collapsed-2ZrjoL {
	background-color:transparent !important;
}

[class^="expandedFolderBackground-"]:not(.collapsed-2ZrjoL) + div:nth-child(2) .wrapper-25eVIn svg foreignObject div, .wrapper-1-Fsb8.header-ywPcAE {
	background: transparent !important;
}

/* Transparent guilds with no image */
.childWrapper-anI2G9, .circleIconButton-jET_ig, .circleIconButton-1QV--U {
	background-color:rgba(54,57,63,0.85);
}

/* Transparent background for main content */
.embedWrapper-lXpS3L:not(.embed-IeVjo6), .attachment-33OFj0, .embedHorizontal-WknQ2-, .embedFull-2tM8--, .wrapper-35wsBm {
	background: rgba(47, 49, 54, 0.2) !important;
	backdrop-filter: blur(var(--blur-radius));
	border-right: 1px solid rgba(20, 20, 20, 0.2) !important;
	border-top: 1px solid rgba(20, 20, 20, 0.2) !important;
	border-bottom: 1px solid rgba(20, 20, 20, 0.2) !important;
}

.embedFull-2tM8-- {
	border-left: 4px solid rgb(32, 34, 37);
}

.markup-2BOw-j > pre > code {
	border: 1px solid rgba(20, 20, 20, 0.8) !important;
	background: rgba(0, 0, 0, 0.3) !important;
	backdrop-filter: blur(var(--blur-radius));
	border-radius:0 !important;
}

code.inline {
	background: rgba(0, 0, 0, 0.5) !important;
	border-radius:0 !important;
}

[class^="expandedFolderBackground-"]:not(.collapsed-2ZrjoL) {
	background: rgba(47, 49, 54, 0.4);
	backdrop-filter: blur(var(--blur-radius));
}

[class^="expandedFolderBackground-"] {
	backdrop-filter: blur(var(--blur-radius));
}

.unread-1xRYoj {
	border-radius:4px !important;
}

.unread-1xRYoj:hover, .unread-1xRYoj:active {
	background-color:var(--background-floating-hover) !important;
}

.colorDefault-2K3EoJ.focused-3afm-j {
	background-color:var(--background-floating-hover);
}

/* Transparent background for BD elements */
.bd-addon-card {
	background: rgba(47, 49, 54, 0.2) !important;
	backdrop-filter: blur(var(--blur-radius));
	border: none !important;
}

/* Transparent New Messages / Jump to Bottom */
.barBase-1c2Rfb {
	background-color:var(--background-floating) !important;
	left:1rem;
	right:1.375rem;
	padding-bottom:0px;
	backdrop-filter: blur(var(--blur-radius));
	border-radius:4px !important;
}

.barBase-1c2Rfb:hover, .barBase-1c2Rfb:active {
	background-color:var(--background-floating-hover) !important;
}

/* Transparent Load More Messages */
.hasMore-3e72_v {
	background-color:var(--background-floating) !important;
	backdrop-filter: blur(var(--blur-radius));
	border:0 !important;
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	border-radius:4px !important;
}

/* Transparent mentions */
.interactive:hover {
	color:rgb(230, 230, 230);
	background-color:rgba(114, 137, 218, 0.3);
}

/* Transparent search */
.option-96V44q::after {
	display:none !important;
}

.option-96V44q.selected-rZcOL-, .focused-2bY0OD {
	background: var(--background-modifier-hover) !important;
}

.searchResultsWrap-2DKFzt, .channelName-1QajIf {
	background: transparent !important;
}

.hit-NLlWXA {
	background: var(--background-modifier-active) !important;
	border: none !important;
	border:thin solid rgba(47, 49, 54, 0.4) !important;
	backdrop-filter: blur(var(--blur-radius));
	border-radius:0px !important;
	box-shadow:none !important;
}

.searchResult-3pzFAB::before, .searchResult-3pzFAB::after {
	display:none;
}

.searchResult-3pzFAB {
	border-top:thin solid var(--text-muted);
}

.calendarPicker-2yf6Ci, .react-datepicker, .react-datepicker__header {
	background:transparent !important;
}

.react-datepicker__day--outside-month {
	background:var(--background-floating-hover) !important;
}

.react-datepicker__day:hover {
	background:var(--background-modifier-hover) !important;
}

.react-datepicker__day--outside-month:hover {
	background:var(--background-floating) !important;
}

.react-datepicker__day--disabled, .react-datepicker__day--disabled:hover {
	background:var(--background-floating-hover) !important;
}

.react-datepicker__navigation {
	border-color:transparent !important;
}

/* Transparent background for friends page */
.container-1D34oG, .body-1ld4H7 {
	background: transparent !important;
}

.itemCard-v9viV7:hover {
	background: var(--background-modifier-hover) !important;
}

.itemCard-v9viV7:active {
	background: var(--background-modifier-active) !important;
}

.itemCard-v9viV7.active-1xchHY {
	background: var(--background-modifier-selected) !important;
}

.popout-38lTFE {
	background:transparent !important;
	box-shadow:none !important;
}

/* Transparent background for calls */
.gradientContainer-10lXLB {
	background: transparent !important;
	opacity:0 !important;
}

.centerButton-3CaNcJ:hover {
	background: rgba(54,57,63,.7);
}

/* Transparent background for popups */
.quickMessage-2XpSaN {
	background: rgba(45, 45, 45, 0.4) !important;
}

.userPopout-3XzG_A > div:not([class*="header"]), .body-3ND3kc {
	background: rgba(45, 45, 45, 0.4) !important;
}

.headerNormal-T_seeN, .topSectionNormal-2-vo2m {
	background: rgba(22, 24, 27, 0.45) !important;
}

.headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
	background: rgba(114, 137, 218, 0.35) !important;
}

.headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
	background: rgba(29, 185, 84, 0.4) !important;
}

.headerXbox-3G-4PF, .topSectionXbox-3fWLjS {
	background: rgba(16, 124, 16, 0.4) !important;
}

.headerStreaming-2FjmGz, .topSectionStreaming-1Tpf5X {
	background: rgba(89, 54, 149, 0.45) !important;
}

.activityUserPopout-2yItg2, .headerFill-adLl4x {
	background: transparent !important;
}

.popouts-2bnG9Z > div > div:not(.userPopout-3XzG_A) {
	background: rgba(45, 45, 45, 0.4) !important;
}

.css-n57xjs-menu {
	background-color:rgba(24, 25, 28, 0.9) !important;
}

/* Border underneath user popout header */
.header-QKLPzZ {
	border-bottom:thin solid var(--border-color);
}

.tabBarContainer-1s1u-z, .activityUserPopout-2yItg2 {
	border-top:thin solid var(--border-color);
}

/* Transparent background for nitro page */
.applicationStore-1pNvnv {
	background: transparent !important;
}

/* Text color for emoji popup search */
.emojiPicker-3m1S-j > div > div > div > .input-1Rv96N::placeholder {
	color:#fff !important;
}

/* Activities list buttons */
.memberListItem-31QoHj:hover, .enabled-1t_Gxm:hover {
	background-color:rgba(45, 45, 45, 0.3) !important;
}

/* Emoji popup unicode shortcut */
#emoji-picker-tab-panel .categoryList-2Kzf65 {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
}

#emoji-picker-tab-panel .categoryList-2Kzf65 .scroller-3gAZLs {
	height:auto !important;
	flex-grow: 1;
	align-self: flex-start;
	position:relative !important;
	width:100%;
}

.unicodeShortcut-15J8Ck {
	flex-shrink:0;
	flex-grow:0;
	align-self: flex-end;
	position:relative !important;
	width:100%;
}

.unicodeShortcut-15J8Ck.unicodeShortcutInvisible-2TqXrS {
	display:none;
}

/* No internet background */
.container-16j22k {
	backdrop-filter: blur(var(--blur-radius));
	background-color: rgba(0, 0, 0, 0.4) !important;
}

/* Blur popups */
.layerContainer-yqaFcK > div > div:not(.focusLock-Ns3yie):not(.menu-3sdvDG):not(.animatorRight-3i_YPs):not(.translate-2dAEQ6), .layerContainer-yqaFcK > div > .animatorRight-3i_YPs > div:not(.streamPreviewWrapper-2DSWOK):not(.userPopout-3XzG_A), .popoutWrapper-eJpzc1, .tooltipPointer-3ZfirK, .container-3ISnnM:not(#gif-picker-tab-panel), .autocomplete-1vrmpx, .unread-1xRYoj:not([aria-hidden="true"]), .toolbar-2bjZV7, .contentWrapper-SvZHNd, .streamPreview-2-WUWT, .container-VSDcQc, .noiseCancellationPopout-iRK2A0, .contentWrapper-SvZHNd, div[id^="popout"] > div > div > .emojiPicker-3PwZFl, [role="listbox"], .container-3XJ8ns, .root-3JVdIJ, .small-3iVZYw.root-1gCeng, .medium-2RE1hE.root-1gCeng, .large-3lXhLH.root-1gCeng, .css-3vaxre-menu, .radioBar-bMNUI-, .css-gvi9bl-control, .css-6fzn47-control, .css-17e1tep-control, .inputWrapper-31_8H8 > .input-cIJ7To, .container-1nZlH6 , .copyInputDefault-21sXtF, .colorPickerCustom-2CWBn2, .quickswitcher-3JagVE, .quickswitcher-3JagVE > .input-2VB9rf, .modal-yWgWj-, .bd-modal-inner, [data-list-id="now-playing-popout"] {
	backdrop-filter: blur(var(--blur-radius));
	box-shadow:none !important;
	background-color: var(--background-floating) !important;
}

.bd-content-modal {
	backdrop-filter: blur(var(--blur-radius));
}

.footer-2gL1pp, .bd-modal-inner .header, .bd-modal-inner .bd-modal-body, .bd-modal-inner .tab-bar-container {
	background:transparent !important;
}

.bd-modal-inner .tab-bar-container {
	box-shadow:none;
}

.bd-modal-inner {
	border:none !important;
}

.userPopout-3XzG_A .inputWrapper-31_8H8 > .input-cIJ7To {
	backdrop-filter:none !important;
}

.root-1gCeng [role="listbox"] {
	backdrop-filter:none !important;
	background-color:transparent !important;
}

.popouts-2bnG9Z > div {
	backdrop-filter: blur(var(--blur-radius));
}

.emojiButtonContainer-3d6DFV {
	z-index:1000;
}

.root-1gCeng .footer-2gL1pp, .message-2qRu38 {
	background:transparent !important;
	box-shadow:none !important;
}

.css-3vaxre-menu {
	border-top:none;
	border-color:rgba(0, 0, 0, 0.6);
}

.colorPickerCustom-2CWBn2 {
	border:none;
}

.layerContainer-yqaFcK .userPopout-3XzG_A, .popouts-2bnG9Z .userPopout-3XzG_A {
	backdrop-filter:blur(var(--blur-radius));
	box-shadow:none !important;
}

/* Call status */
.wrapper-2qzCYF.minimum-28Z35l {
	backdrop-filter: blur(var(--blur-radius));
	background-color: var(--background-floating) !important;
}

/* Dropdown box */
.lookFilled-22uAsw.select-2fjwPw {
	background-color: var(--deprecated-text-input-bg) !important;
	border-color: var(--deprecated-text-input-border) !important;
}

/* Blur background of popup notifications */
.backdrop-1wrmKB, .uploadArea-3QgLtW.uploadModalIn-1z07Bv, .backdropWithLayer-3_uhz4 {
	backdrop-filter: blur(var(--blur-radius));
	opacity:1 !important;
	background-color: var(--background-floating) !important;
}

/* Fix open link in browser message under image preview */
.downloadLink-1ywL9o, .operations-3V47CY {
	position:relative;
}

.image-1tIMwV {
	margin-left:auto;
	margin-right:auto;
}

.menu-3sdvDG:before {
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	backdrop-filter:blur(var(--blur-radius));
}

.premiumPromo-fVlLu- {
	position:relative;
	grid-column:2/3;
	grid-row:2/3;
}

.bodyWrapper-3G0FZZ:nth-last-child(3) {
	opacity:0;
}

.tooltipPointer-3ZfirK, .toolbar-2bjZV7::before {
	backdrop-filter:blur(var(--blur-radius));
	box-shadow:none !important;
	border-top-color:var(--background-floating) !important;
	background-color:transparent !important;
}

.modal-3c3bKg > .inner-1ilYF7 div[class^="topSection"], .modal-3c3bKg > .inner-1ilYF7 div[class^="topSection"] + div {
	backdrop-filter: blur(var(--blur-radius));
	box-shadow:none !important;
}

/* Tooltip shape */
.tooltip-2QfLtc {
	border-radius:0;
}

.tooltipRight-2JM5PQ {
	padding:0px 0px 0px 8px;
	margin-left:-8px;
	-webkit-clip-path: polygon(8px 4px, 9px 2px, 10px 1px, 12px 0px, calc(100% - 4px) 0%, calc(100% - 2px) 1px, calc(100% - 1px) 2px, 100% 4px, 100% calc(100% - 4px), calc(100% - 1px) calc(100% - 2px), calc(100% - 2px) calc(100% - 1px), calc(100% - 4px) 100%, 12px 100%, 10px calc(100% - 1px), 9px calc(100% - 2px), 8px calc(100% - 4px), 8px calc(50% + 5px), 3px 50%, 8px calc(50% - 5px)) !important;
}

.tooltipBottom-3ARrEK {
	padding:8px 0px 0px 0px;
	margin-top:-8px;
	-webkit-clip-path: polygon(0 12px, 1px 10px, 2px 9px, 4px 8px, calc(50% - 5px) 8px, 50% 3px, calc(50% + 5px) 8px, calc(100% - 4px) 8px, calc(100% - 2px) 9px, calc(100% - 1px) 10px, 100% 12px, 100% calc(100% - 4px), calc(100% - 1px) calc(100% - 2px), calc(100% - 2px) calc(100% - 1px), calc(100% - 4px) 100%, 4px 100%, 2px calc(100% - 1px), 1px calc(100% - 2px), 0 calc(100% - 4px)) !important;
}

.tooltipTop-XDDSxx {
	padding:0px 0px 8px 0px;
	margin-bottom:-8px;
	-webkit-clip-path: polygon(0 4px, 1px 2px, 2px 1px, 4px 0px, calc(100% - 4px) 0px, calc(100% - 2px) 1px, calc(100% - 1px) 2px, 100% 4px, 100% calc(100% - 12px), calc(100% - 1px) calc(100% - 10px), calc(100% - 2px) calc(100% - 9px), calc(100% - 4px) calc(100% - 8px), calc(50% + 5px) calc(100% - 8px), 50% calc(100% - 3px), calc(50% - 5px) calc(100% - 8px), 4px calc(100% - 8px), 2px calc(100% - 9px), 1px calc(100% - 10px), 0 calc(100% - 12px)) !important;
}

.tooltipPointer-3ZfirK {
	display:none !important;
}

/* Add role popout fix */
.header-2bNvm4 {
	background-color:transparent !important;
	border-bottom:thin solid var(--border-color);
}

.sectionTag-pXyto9 {
	background-color:transparent !important;
}

.autocompleteShadow-iiGWFU {
	display:none !important;
}

.row-rrHHJU.selected-1pIgLL {
	background: var(--background-modifier-hover) !important;
}

.autocompleteScroller-iInVqR {
	overflow-y: auto;
}

.theme-dark .selected-1Tbx07 {
	background-color:var(--background-modifier-selected);
}

/* Hide line under gif insert header */
.header-1TOWci {
	box-shadow:none !important;
}

/* Hover color of autocomplete options */
.autocompleteRow-2OthDa .selectorSelected-1_M1WV {
	background-color: var(--background-modifier-hover) !important;
}

/* Transparent friends page buttons */
.actionButton-uPB8Fs {
	background: rgba(47, 49, 54, 0.45) !important;
	backdrop-filter: blur(var(--blur-radius));
}

/* Audio control background */
.audioControls-2HsaU6 {
	background: rgba(0, 0, 0, 0.4) !important;
}

/* Remove Nitro gift icon */
.channelTextArea-rNsIhG  .buttons-3JBrkn > button:first-child {
	display:none;
}

/* Remove emoji suggestions */
.buttonContainer-DHceWr .buttons-cl5qTG div {
	box-shadow:none !important;
	border:0px !important;
}

/* Spacing between message bar and messages */
.scrollerSpacer-1Rp0XE {
	height:10px;
}

/* Decrease height of special channel messages (ex: announcements) */
.content-c_0cLD {
	margin-bottom:-55px;
}

.wrapper-39oAo3 > .buttonContainer-3AU1Ij {
	margin-bottom:-35px;
}

/* Resize/move message buttons */
.buttonContainer-DHceWr .buttons-cl5qTG div .button-1ZiXG9 {
	height:16px;
	width:16px;
	min-height:16px;
	min-width:16px;
	color:rgba(185, 187, 190, 0.6);
}

.buttonContainer-DHceWr .buttons-cl5qTG div .button-1ZiXG9:hover, .buttonContainer-DHceWr .buttons-cl5qTG div .button-1ZiXG9:active, .buttonContainer-DHceWr .buttons-cl5qTG div .button-1ZiXG9.selected-2P5D_Z {
	color:rgba(155, 157, 160, 0.6) !important;
	background-color:transparent !important;
}

.buttonContainer-DHceWr .buttons-cl5qTG {
	top:-5px;
	background-color:transparent !important;
	padding-right:0.875rem;
}

.scrollerInner-2YIMLh .message-2qnXI6.mentioned-xhSam7 .buttonContainer-DHceWr .buttons-cl5qTG div, .buttonContainer-DHceWr, .buttonContainer-DHceWr .buttons-cl5qTG div {
	background-color:transparent !important;
}

.scrollerInner-2YIMLh .groupStart-23k01U .buttonContainer-DHceWr {
	top:calc(var(--header-height) + 2px);
}

.buttonContainer-DHceWr .buttons-cl5qTG div .button-1ZiXG9 {
	padding:0px;
}

/* Move avatar */
.scrollerInner-2YIMLh .message-2qnXI6 .container-2LR0t2 .header-23xsNx img {
	margin-left:0.875rem;
}

/* Margin on text to accomodate buttons */
.scrollerInner-2YIMLh .message-2qnXI6 .markup-2BOw-j:not([contenteditable="true"])::before {
	content:'';
	width:5rem;
	height:16px;
	display:inline-flex;
	float:right;
}

/* Make text area wider */
.scrollerInner-2YIMLh .message-2qnXI6 {
	padding-right:0.875rem;
}

/* Rotate settings button */
.buttonContainer-DHceWr .buttons-cl5qTG div .button-1ZiXG9:last-child:not(.dangerous-2r8KxV) {
	transform:rotate(90deg);
	padding-right:0px;
	padding-left:0px;
	margin-right:0px;
	margin-left:0px;
}

/* Spacer between message groups */
.scrollerInner-2YIMLh .groupStart-23k01U::after {
	content:'';
	border-top:thin solid var(--border-color);
	top:calc(0px - var(--message-spacing));
	left:1rem;
	right:0.875rem;
	display:block;
	position:absolute;
}

.scrollerInner-2YIMLh .groupStart-23k01U {
	margin-top:calc(var(--message-spacing) * 2);
}

.scrollerInner-2YIMLh .divider-3_HH5L + .groupStart-23k01U::after {
	display:none;
}

.scrollerInner-2YIMLh .divider-3_HH5L + .groupStart-23k01U {
	margin-top:calc(var(--message-spacing) * 0.5);
}

/* Spacing between messages within a group */
.scrollerInner-2YIMLh .message-2qnXI6:not(.groupStart-23k01U), .scrollerInner-2YIMLh .message-2qnXI6 .container-2LR0t2 {
	padding-top:0px;
	padding-bottom:0px;
}

/* Message divider */
.scrollerInner-2YIMLh .divider-3_HH5L {
	width:100%;
	margin-left:0;
	border:none;
	height:calc(var(--message-spacing) * 1.5) !important;
}

.scrollerInner-2YIMLh .divider-3_HH5L span {
	background-color:transparent;
	padding:0;
    display:flex;
	align-items:center;
	text-align:center;
	font-size:14px;
	line-height:22px;
	height:calc(var(--message-spacing) * 2) !important;
	left:1rem;
	right:0.875rem;
	position:absolute;
}

.scrollerInner-2YIMLh .divider-3_HH5L span::before {
	margin-right:8px;
}

.scrollerInner-2YIMLh .divider-3_HH5L span::after {
	margin-left:8px;
}

.scrollerInner-2YIMLh .divider-3_HH5L span::before, .scrollerInner-2YIMLh .divider-3_HH5L span::after {
	content:'';
	flex:1;
}

.scrollerInner-2YIMLh .divider-3_HH5L.isUnread-3Ef-o9 span:nth-child(2) {
	display:none;
}

/* Spacing correction */
.group-spacing-16 .divider-3_HH5L.hasContent-1_DUdQ {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* New message color */
.scrollerInner-2YIMLh .divider-3_HH5L.isUnread-3Ef-o9 span {
	color:#f04747;
}

.scrollerInner-2YIMLh .divider-3_HH5L.isUnread-3Ef-o9 span::before, .scrollerInner-2YIMLh .divider-3_HH5L.isUnread-3Ef-o9 span::after {
	border-bottom:thin solid #f04747;
}

.scrollerInner-2YIMLh .divider-3_HH5L.isUnread-3Ef-o9 span svg {
	display:none;
}

/* Timestamp divider color */
.scrollerInner-2YIMLh .divider-3_HH5L:not(.isUnread-3Ef-o9) span::before, .scrollerInner-2YIMLh .divider-3_HH5L:not(.isUnread-3Ef-o9) span::after {
	border-bottom:thin solid var(--text-muted);
}

/* Text Colors */
.placeholder-37qJjk, .input-cIJ7To::placeholder {
	color: var(--text-muted) !important;
}

/* Upload */
.uploadModal-2ifh8j {
	position: fixed !important;
	top: 0px !important;
	left: 0px !important;
	background: transparent !important;
	box-shadow:none !important;
}

.uploadModal-2ifh8j div .file-34mY5K .icon-kyxXVr {
	border: 0 !important;
	box-shadow: none !important;
	margin: 0 !important;
	background-position: 50% !important;
	position: fixed !important;
    width: 80vw !important;
	left: 10vw !important;
	top: 60px !important;
	background-size: contain !important;
	background-color: transparent !important;
}

@media only screen and (max-height: 300px) {
	.uploadModal-2ifh8j div .file-34mY5K .icon-kyxXVr {
		height: 50vh !important;
	}
	
	.uploadModal-2ifh8j div .comment-4IWttf .channelTextArea-2VhZ6z, .uploadModal-2ifh8j div .comment-4IWttf .channelTextArea-2VhZ6z .scrollableContainer-2NUZem, .uploadModal-2ifh8j div .comment-4IWttf .channelTextArea-2VhZ6z .inner-MADQqc, .uploadModal-2ifh8j div .comment-4IWttf .channelTextArea-2VhZ6z .inner-MADQqc .textArea-12jD-V {
		max-height:calc(100vh - (50vh + 22px + 10px));
	}
}

@media only screen and (min-height: 301px) {
	.uploadModal-2ifh8j div .file-34mY5K .icon-kyxXVr {
		height: 50vh !important;
	}
	
	.uploadModal-2ifh8j div .comment-4IWttf .channelTextArea-2VhZ6z, .uploadModal-2ifh8j div .comment-4IWttf .channelTextArea-2VhZ6z .scrollableContainer-2NUZem, .uploadModal-2ifh8j div .comment-4IWttf .channelTextArea-2VhZ6z .inner-MADQqc, .uploadModal-2ifh8j div .comment-4IWttf .channelTextArea-2VhZ6z .inner-MADQqc .textArea-12jD-V {
		max-height:calc(100vh - (50vh + 22px + 95px));
	}
}

@media only screen and (min-height: 500px) {
	.uploadModal-2ifh8j div .file-34mY5K .icon-kyxXVr {
		height: 65vh !important;
	}
	
	.uploadModal-2ifh8j div .comment-4IWttf .channelTextArea-2VhZ6z, .uploadModal-2ifh8j div .comment-4IWttf .channelTextArea-2VhZ6z .scrollableContainer-2NUZem, .uploadModal-2ifh8j div .comment-4IWttf .channelTextArea-2VhZ6z .inner-MADQqc, .uploadModal-2ifh8j div .comment-4IWttf .channelTextArea-2VhZ6z .inner-MADQqc .textArea-12jD-V {
		max-height:calc(100vh - (65vh + 22px + 95px));
	}
}

@media only screen and (min-height: 700px) {
	.uploadModal-2ifh8j div .file-34mY5K .icon-kyxXVr {
		height: 75vh !important;
	}
	
	.uploadModal-2ifh8j div .comment-4IWttf .channelTextArea-2VhZ6z, .uploadModal-2ifh8j div .comment-4IWttf .channelTextArea-2VhZ6z .scrollableContainer-2NUZem, .uploadModal-2ifh8j div .comment-4IWttf .channelTextArea-2VhZ6z .inner-MADQqc, .uploadModal-2ifh8j div .comment-4IWttf .channelTextArea-2VhZ6z .inner-MADQqc .textArea-12jD-V {
		max-height:calc(100vh - (75vh + 22px + 95px));
	}
}

.uploadModal-2ifh8j div .file-34mY5K .description-2ug5H_ {
	position: fixed !important;
	left: 0 !important;
	top: 10px !important;
	width: 100vw !important;
	padding: 0 !important;
	text-align: center !important;
}

.uploadModal-2ifh8j div .comment-4IWttf {
	position: fixed !important;
	width: 80vw !important;
	left: 10vw !important;
	height: calc(100vh - 50px) !important;
	top: 0vh !important;
	margin: 0 !important;
	padding: 0 !important;
}

.uploadModal-2ifh8j div .comment-4IWttf .label-3aiqT2 {
	display:none;
}

.uploadModal-2ifh8j div .comment-4IWttf .channelTextArea-2VhZ6z {
	position: absolute;
	bottom: -15px;
}

.uploadModal-2ifh8j div .comment-4IWttf .channelTextArea-2VhZ6z .scrollableContainer-2NUZem .inner-MADQqc .textArea-12jD-V .slateTextArea-1Mkdgw::placeholder {
	color: #888;
}

.uploadModal-2ifh8j div .comment-4IWttf .channelTextArea-2VhZ6z .scrollableContainer-2NUZem .inner-MADQqc .textArea-12jD-V .slateTextArea-1Mkdgw {
	color: #fff;
}

.uploadModal-2ifh8j .footer-3mqk7D {
	position: fixed !important;
	background: transparent !important;
	width: 80vw !important;
	left: 10vw !important;
	height: calc(100vh - 10px) !important;
	top: 0vh !important;
	margin: 0 !important;
	padding: 0 !important;
	margin-bottom: 5px !important;
	align-items: flex-end !important;
	z-index: -1;
}

.uploadModal-2ifh8j .footer-3mqk7D  .checkboxWrapper-SkhIWG {
	flex-grow:0;
}

/* Fix server list getting outlined when clicking */
ul[data-list-id=guildsnav] {
	outline: none !important;
}

/* Background image */
#app-mount::before {
	content: "";
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position:absolute;
	background-image: linear-gradient(to right,rgba(var(--background-screen-cover), var(--background-screen-opacity)) 0%,rgba(var(--background-screen-cover), var(--background-screen-opacity)) 100%),var(--background-url); /* Please use this to change background image */
	background-size: cover;
	z-index: -5;
}

/* Display version info */
.sidebar-CFHs9e .side-8zPYf6 .info-1VyQPT::after {
	content: "Xpose Theme Version: " var(--version);
	color: var(--text-muted);
	font-size: 12px;
	line-height: 16px;
}

.bda-slist > li[data-name="XposeLoader"] > .bda-header > .bda-header-title::after {
	content: "Theme Version: " var(--version);
	padding-left:1em;
}

/* EditUploads Plugin */
#EditUploadsEditButton {
	top:calc(100vh - 1em - 25px) !important;
	position:fixed !important;
	z-index:10000 !important;
}

#EditUploadsModal {
	border-radius:0;
	box-shadow:none !important;
	background:none !important;
	border:none !important;
}

#EditUploadsCanvasWrapper, #EditUploadsToolbar {
	box-shadow:none !important;
	background:none !important;
	border:none !important;
}

#EditUploadsModal:before {
	content:'';
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	backdrop-filter:blur(var(--blur-radius));
}

/* ImageUtilities Plugin */
.lensBackdrop-yEm7Om {
	backdrop-filter:blur(var(--blur-radius));
}
